[2012-07-23 20:33] kgn opened #20 "UIStatusBarStyleBlackTranslucent is not available on this device."
On my iPad 2(iOS 5.1.1) if I try to add a screenshot and select "Choose From Library" the app crashes:

`UIStatusBarStyleBlackTranslucent is not available on this device.`

[2012-07-25 01:49] #20 closed, assigned to wooster

[2012-07-27 14:46] kgn opened #22 "Mismatch between Localizable.strings and code"
In Localizable.strings `Lack of email dialog message.` is `We can't respond without one.\n\n\n`, but in code it's `NSLocalizedString(@"We can't respond without one.", @"Lack of email dialog message.");`.

[2012-08-13 22:16] #22 closed, assigned to wooster

[2012-08-31 17:36] inturbidus opened #23 "Modal window closes after feedback"
After calling this:

[code]

From a modal view controller it closes the modal and any new modals will not show up afterwards.

[2012-09-12 16:48] #23 closed, assigned to wooster

[2012-09-27 03:13] paynerc opened #24 "My app cannot link to Apptentive when making builds for the active architecture (iPhone 5, armv7s)"
My app fails to link when building for the active architecture when the active architecture is the iPhone 5.

Looking into this, the Architectures in the static library's build settings is hardcoded to armv6 and armv7. You either need to manually add armv7s or change it to $(ARCHS_STANDARD_32_BIT) which will these days set it to armv7 and armv7s.

[2012-09-27 23:49] #24 closed, assigned to wooster

[2012-12-17 23:12] kgn opened #26 "More localizations"
I would love to see the strings localized for more languages. I've been working on an update to one of my apps and had it localized in 10 languages by icanlocalize.com. This app includes Apptentive so when asked if they love the app it could be jarring if the text is in english but the rest of the app is localized. The two languages I would love to see the most are french and german.

[2012-12-17 23:17] kgn opened #27 "Improved styling of the message screen"
I don't think the crushed yellow paper texture looks that great and would love a way to easily customize the look of the message screen or give it a cleaner default look.

This project might be a good reference:

https://github.com/romaonthego/REComposeViewController

[2013-01-02 22:20] nullptr2this opened #28 "No way to programmatically dismiss the FeedbackViewController"
Unless I'm crazy and I just don't see it, there is no public API for dismissing the FeedbackViewController as of version 0.4.7.

I can present the view controller:

[[ATConnect sharedConnection] presentFeedbackControllerFromViewController:someViewController];

But I do not see a way to dismiss it.  We have a scenario where an incoming push notification triggers a deep link into our application and

[2013-01-18 22:56] kgn opened #29 "Landscape support?"
The message screen doesn't seem to support the landscape orientation on the iPad.
![IMG_0073](https://f.cloud.github.com/assets/395836/79692/501f2540-61c2-11e2-9304-7093d15ac569.PNG)

[2013-01-18 23:38] #29 closed, assigned to nobody

[2013-01-29 00:34] kgn opened #30 "Xcode 4.6"
JSONKit warnings in Xcode4.6

[code]

[2013-02-02 00:00] #30 closed, assigned to wooster

[2013-02-02 00:00] #28 closed, assigned to wooster

[2013-02-11 21:56] joelhegg opened #31 "Overriding messaging"
We'd like to override some of the messaging that appears in the dialogs. I know we can edit the Localizable.strings in the Apptentive project, but modifying that might make it painful in the future to keep up with updates to the project.

Do you have a better recommended way for clients to override dialog messaging?

[2013-02-16 20:03] kgn opened #32 "Showing the rating dialog from a modal"
[code]

This is fixed in this commit, though it is only fixed for iOS 5. If iOS 4 is still supported `modalViewController` could be used but I don't have iOS 4 to test against.

https://github.com/kgn/apptentive-ios/commit/aa6e1d256b192cd1f3087e5d39584eb3dc60ed6d

[2013-03-14 22:04] embooglement opened #33 "Ratings flow throws exception with testing app store id"
I'm integrating apptentive into an iPhone app that isn't live yet, and the ratings flow dialog throws an exception at line 184 of ATAppRatingFlow.m. It seems like apptentive is crashing because it's using a nil app name. We have an iTunes app store id, and everything on that end is initialized, we just haven't launched the app yet.

Here's a console dump from xcode:
2013-03-14 15:03:37.880 YAKiT[1

[2013-03-21 05:51] kgn opened #34 "-[__NSCFString ATobjectFromJSONString]: unrecognized selector"
I'm getting a crash on this line in `ATAPIRequest.m`

[code]

[2013-03-21 07:30] #34 closed, assigned to nobody

[2013-04-04 22:23] kevinvanderlugt opened #35 "AppRatingFlow doesn't seem to increment UseCountKey on appDidEnterForeground"
Is this expected by design?
It seems like the use increment counter is only incremented on appDidLaunch.

This seems like it would only then increment if the app is removed from the background.   Not sure what your thoughts are on this?

Thanks!

[2013-04-04 22:33] kevinvanderlugt opened #36 "Add ability to overwrite or pass in appName in AppRatingFlow"
Not sure what your thoughts are on this?
My bundle display name is shortened to fit on the screen, I was going to modify the AppRatingFlow to return a different name for [self appName] so that I can control the name used in the UIAlertViews.   Or maybe have the ability to use CFBundleName rather than CFBundleDisplayName

I could submit a pull if you are interested in one of the methods.

[2013-04-05 19:04] #35 closed, assigned to nobody

[2013-04-18 18:15] #36 closed, assigned to nobody

[2013-04-22 01:22] kevinvanderlugt opened #40 "Allow users to disable StoreKit for app reviews in iOS 6+"
Hi Andrew,

Not sure what your thoughts are on this.  Currently if you open the app review URL before iOS6, the users are taken directly to the reviews tab in the app store.  This obviously takes them out of the app but shows the button to write a review.

If you open in StoreKit, it goes to the app description page.   I haven't yet found a way to open the reviews tab in StoreKit.

My thought here

[2013-06-05 02:35] #40 closed, assigned to nobody

[2013-06-07 22:35] #32 closed, assigned to wooster

[2013-06-21 06:13] zdsumit opened #41 "libApptentiveConnect.a is missing in SDK"
Hi, just downloaded this project and also added it via cocoapods.
But i am unable to find this lib - libApptentiveConnect.a , it is also not included in example feedbackdemo

Can you explain or guide how to move forward ??

[2013-06-29 02:14] #41 closed, assigned to nobody

[2013-06-29 02:14] #33 closed, assigned to nobody

[2013-07-09 15:17] tuckdesign opened #42 "Message Center always in portrait"
Hi,
Message Center always shows in portrait even if app is in landscape orientation. Guess this should be an easy fix, but don't know where to look for (using Xcode 4.62)

[2013-07-09 19:43] #42 closed, assigned to wooster

[2013-07-25 11:43] zdsumit opened #43 "Release of 1.0.0, updating from 0.4.9"
Hi, After this new release, i was interested in updating from 0.4.9 to 1.0.0 .
So, i did it via cocoapods and it shows in the pods list but still not able to use Or include the files can you let me know, the right way of installing it from cocoapods or if something extra is needed to do for this.
Also, please share how to do the SAME WITHOUT cocoapods.

[2013-08-09 05:56] rcoh opened #44 "Doesn't work well in portrait mode on iPad"
In portrait mode on the iPad, the text section of the feedback controller is too small and scrolls back and forth. :-1: Please fix.

[2013-08-12 11:13] tyork opened #45 "Possible class naming collision with iOS 5 system framework?"
Device: iPhone 4
OS: iOS 5.1.1 (does not occur on iOS 6)

I have an app that uses the ApptentiveConnect SDK.
Launching this app from Xcode, I see a concerning message in the console window:

[code]

Anyone else seen this?

[2013-08-13 02:43] #43 closed, assigned to nobody

[2013-08-19 03:54] #44 closed, assigned to wooster

[2013-08-19 04:16] #26 closed, assigned to wooster

[2013-08-20 12:04] 1jfmars opened #46 "Persistent store init issue"
Hi,

I am running into a problem when setting the API key.

ATDataManager.m throws an exception on line:

persistentStoreCoordinator = [[NSPersistentStoreCoordinator alloc] initWithManagedObjectModel:[self managedObjectModel]];

Uncaught exception: Cannot create an NSPersistentStoreCoordinator with a nil model

Any ideas?

[2013-08-30 00:53] #45 closed, assigned to nobody

[2013-09-10 23:35] GitsMcGee opened #48 "Legacy Language Designator warning when validating archive"
When using XCode 5 to validate an app archive I get the following warning:

"Legacy Language Designator - The directories located at"

I traced this down to the fact that Apptentive puts it's English localization in a folder called English.lproj which is a deprecated naming convention. The more modern naming is en.lproj.

[2013-09-11 04:18] ricsantos opened #49 "No way to clear the conversation"
Also posted: http://stackoverflow.com/questions/18732596/apptentive-ios-sdk-clear-conversation

When a user logs out of my app, I need a way to clear the conversation that is saved by Apptentive.

Have tried:

[code]

[2013-09-16 21:27] #48 closed, assigned to nobody

[2013-09-20 17:26] objectmethod opened #50 "iOS 7 Design"
Are there any plans to tweak Apptentive's design for iOS 7 SDK?  Thanks!

[2013-09-20 18:57] #50 closed, assigned to nobody

[2013-09-23 17:45] eaceto opened #52 "CGContextSetFillColorWithColor"
Hello,

I have been testing Apptentative for my iOS app and I found a warning while running on iOS. The log says:

<Error>: CGContextSetBlendMode: invalid context 0x0. This is a serious error. This application, or a library it uses, is using an invalid context  and is thereby contributing to an overall degradation of system stability and reliability. This notice is a courtesy: please fix this prob

[2013-09-23 18:10] eaceto opened #53 "screens in iOS7"
Hello,

Some UIViewControllers does not look good (broken) in iOS7 or either does not respect the new iOS7 look and feel. For example, the message centre's title, or the feedback dialog.

Thanks very much!

Ezequiel Aceto

[2013-09-24 22:56] dredenba opened #54 "Including this in you iOS app results in a validation warning when submitting your binary"
The warning during validation:
WARNING ITMS-9000: "Legacy Language Designator - The directories located at (Payload/APP_NAME_HERE.app/ApptentiveResources.bundle/English.lproj) use a legacy language designator. Use of the full language name has been deprecated and is not guaranteed to work in future versions of the OS. Refer to the Language and Locale Designations guide"

[2013-09-25 00:19] #46 closed, assigned to nobody

[2013-09-27 01:19] #54 closed, assigned to wooster

[2013-09-27 01:20] #53 closed, assigned to wooster

[2013-10-07 09:36] mtraunau opened #57 "Testing the App Rating Flow"
Hi,

we are about to integrate Apptentive for the first time and while the Messaging works right out of the box, we have a little problem with the rating flow - we cannot test this.

It would be really helpful to have a function in the SDK to show the rating box without meeting the conditions (in debug mode).

Also it would be really nice if we could dump the reasons why it was not shown (days sin

[2013-10-07 21:09] n1rvana opened #58 "Crash in "addMetricWithName""
Have integrated apptentive into one app, now working on another app.  The thing is, both apps are exactly the same code, only content is different.  Apptentive works fine in one, but in the other, I'm getting an exception.

Exception is happening in [ApptentiveMetrics(Private) addMetricWtihName:info] which is being called from addLaunchMetric, which is being fired by "NSFireDelayedPerform".

I'm u

[2013-10-07 21:17] #58 closed, assigned to nobody

[2013-10-09 19:31] metakone opened #59 "'Write a Review' button disabled when app store is shown"
When the user agrees to rate the app and the app store popup appears, the 'Write a Review' button is disabled (iOS 7). If you are using SkStoreProductViewController, this issue has been reported elsewhere: http://stackoverflow.com/questions/19058069/skstoreproductviewcontroller-rate-disabled-on-ios-7

[2013-10-10 01:02] #59 closed, assigned to pkamb

[2013-10-10 04:22] #57 closed, assigned to nobody

[2013-10-14 15:08] cliffremote opened #60 "Latest .xibs not compatible with XCode 4.6"
I am unable to build because these .xibs are using the newer xcode 5 file format. These should be made backwards compatible at least until the majority of developers can switch over:

ATInfoViewController.xib
ATInfoViewController_iPad.xib
ATSimpleImageViewController.xib
ATMessageCenterViewController.xib
ATMessageInputViewV7.xib

Thanks,

Cliff

[2013-10-15 23:14] ricsantos opened #61 "Linker flag -all_load not required (installation instructions)"
I could not use the linker flag -all_load as my project also uses AdMob, and this flag would stop the project from compiling.

From my testing Apptentive works fine with out this flag.

Not sure if this is true, but as of XCode 5 this flag is no longer necessary?

[2013-10-15 23:20] #61 closed, assigned to nobody

[2013-10-17 14:22] eaceto opened #62 "Make font fits width on message composer screen"
In languages other than English, the title of the composer screen may extend too much.
![la foto](https://f.cloud.github.com/assets/870528/1352425/5ffd7200-3737-11e3-8b65-6ecbf37f0105.png)

[2013-10-20 23:58] #60 closed, assigned to nobody

[2013-11-05 02:01] #62 closed, assigned to nobody

[2013-11-05 03:36] #27 closed, assigned to nobody

[2013-11-05 03:36] #52 closed, assigned to wooster

[2013-11-08 16:04] VilemKurz opened #65 "Long response is truncated in message centre on the device"
Operator responds to the user via your web. On the user's device (tested with iPhone 4) in message centre the message is truncated, if it is long, say more than 20 lines.

Interesting is, that when reading in landscape, the message is complete - not truncated. Truncation occurs only in portrait.

Unfortunately, this is a showstopper for us. Please fix this.

It happens with your SDK 1.2.1 and 1.2.

[2013-11-09 03:22] owenfi opened #66 "Slight ambiguity/typo in getting started instructions"
From your instructions in the read me:

Building for iOS devices first works around a bug in Xcode 5.
1. In the upper right-hand corner of your Xcode window, click on your project name.
2. Select Apptentive Resources.
3. Click to the right of the arrow next to Apptentive Resources.
4. Select iOS Devices.
5. Under Project in your Mac's menu bar, click on Build.

---

I believe number one should say

[2013-11-09 04:23] #66 closed, assigned to nobody

[2013-11-19 06:37] owenfi opened #70 "unreadCount incremented when typing a message"
unreadCount should reflect the number of messages a user has not seen, but in a case I found it is possible to falsely increment unreadCount.

The scenario is: A user begins editing a message in the inputView in the messageCenter class. As soon as the first letter is entered a breakpoint in ATBackend controllerDidChangeContent: will trigger and you can see that unread count goes to 1. (Clearing th

[2013-11-20 01:45] #70 closed, assigned to nobody

[2013-11-21 10:25] eaceto opened #71 "SQLite error in Apptentive DB"
In my application I got the following exception

Fatal error. The database at /var/mobile/Applications/95709F07-B065-47F4-B338-CE48599EAA37/Library/Application Support/com.apptentive.feedback/ATDataModel.sqlite is corrupted. SQLite error code:11, 'database disk image is malformed'
APP-[ATAbstractMessage updateWithJSON:]

The stack trace is:

22  APP 0x001354fb  -[ATAbstractMessage updateWithJSON:]

[2013-11-21 10:29] eaceto opened #72 "Context exception"
Hello,

My app gets the following exception

Context failed to fetch next batch. Expected 1 objects
APP-[ATGetMessagesTask(Private) processResult:]
# Binary Image Name             Address   Symbol

0   CoreFoundation  0x3127ef4b  **exceptionPreprocess
1   libobjc.A.dylib 0x3b60e6af  objc_exception_throw
2   CoreData            0x30fef0fb  _faultBatchAtIndex
3   CoreData    0x30feeb4f  -[_PFBatchFa

[2013-11-22 19:47] #72 closed, assigned to nobody

[2013-11-23 03:05] #71 closed, assigned to wooster

[2013-12-13 09:36] ccornelis opened #73 "Linker error when using CocoaPods"
I added Apptentive to my app as a pod and wrote the initial code to start using Apptentive. However when I build my app, I get the following link error:

Undefined symbols for architecture i386:
  "_OBJC_CLASS_$_ATConnect", referenced from:
      objc-class-ref in EvstAppDelegate.o
ld: symbol(s) not found for architecture i386
clang: error: linker command failed with exit code 1 (use -v to see inv

[2013-12-20 23:30] #65 closed, assigned to wooster

[2013-12-23 22:35] #73 closed, assigned to nobody

[2013-12-23 22:55] ccornelis opened #74 "Compilation errors when adding TTTAttributedLabel as a cocoapod"
I had our app building fine with the Apptentive pod, but as soon as I added the TTTAttributedLabel pod to our Xcode project, I got the following build errors:

/Pods/apptentive-ios/ApptentiveConnect/source/Message Center/ATAutomatedMessageCell.h:17:40: Unknown type name 'ATTTTAttributedLabel'; did you mean 'TTTAttributedLabel'?
/Pods/apptentive-ios/ApptentiveConnect/source/Message Center/ATAutomat

[2013-12-23 22:58] ccornelis opened #75 "Xcode build warnings"
We always strive to have 0 Xcode compiler warnings when building our app. However since we added the Apptentive pod to our project we have around 100 build warnings related to Apptentive code. A lot of them are related to the use of deprecated iOS symbols/method.
Do you have plans to fix these?

[2014-01-11 01:42] #74 closed, assigned to nobody

[2014-01-11 01:42] #75 closed, assigned to nobody

[2014-01-22 10:09] Dids opened #76 "Unable to simultaneously satisfy constraints"
Using the latest Apptentive framework, when trying to show an upgrade message and only on iPhone 5S/64-bit, I get:

[code]

Additionally, I'm not using auto-layouts in my project and I've disabled the "poweredByBackground", so it's pointing at the following code (in file ATInteractionUpgradeMessageViewController.m on line 81 and onwards):

[code]

Simply commenting out the following line fixes the

[2014-02-07 14:44] VilemKurz opened #77 "Crash while opening message centre"
The crash happens only on iOS6 (the same app on iOS7 works fine)

[code]

![apptentiveios6crash](https://f.cloud.github.com/assets/1016974/2110620/ef70db8a-9005-11e3-82f6-b02ed9bea23e.png)

[2014-02-13 19:58] gfinden opened #78 "README needs cleanup"
The README needs some updating when it comes to explaining about how to get the code. It mentions using either git or Cocoapods to get the SDK, but then seems to assume that the user is manually adding the code to their project by telling the user to drag header files in and such further down. Plus the "Setup Xcode Project" step doesn't let the user know that this part is not needed when using Coc

[2014-02-20 20:17] gagarwal opened #79 "Crash while using Apptentive library via Cocoapods"
I am using Apptentive version v1.2.6 and getting following crash:

**\* Assertion failure in -[ATEvent apiJSON], /Users/pkamb/Desktop/Apptentive Code/apptentive-ios/ApptentiveConnect/source/Model/ATEvent.m:52

This is a NSAssert failure. I just cloned the Apptentive code from GitHub repository (https://github.com/apptentive/apptentive-ios.git) and found that in v1.2.7 the code at ATEvent.m:52 is c

[2014-02-21 01:10] #79 closed, assigned to nobody

[2014-03-11 19:54] lhasiuk opened #83 "Calling dismissMessageCenterAnimated can break future calls to presentMessageCenterFromViewController"
Steps to reproduce:

1) Bring up message center in an application with a call to presentMessageCenterFromViewController.

2) Navigate to Contact Settings screen.

3) Arrange for a call to dismissMessageCenterAnimated:NO completion:^{} from another pathway in the app, such as receipt of a local notification or the firing of a timer.

4) Try invoking presentMessageCenterFromViewController again.  Th

[2014-03-11 20:36] lhasiuk opened #84 "dismissMessageCenterAnimated does not call completion block in some cases"
Currently, there is no way to easily detect if the ATConnect window or view controller is being shown.  Consequently, the only way to ensure that they are not being shown is to call dismissMessageCenterAnimated:completion and wait for the completion block to be called.  Unfortunately, in the case where ATConnect is not in use, the completion block is never called.  This makes it quite difficult to

[2014-03-19 00:37] wooster opened #86 "New Delegate and Dismissal API for Interactions UI"
From #84:

<blockquote>
Ideally ATConnect would provide a delegate interface so that an application can detect when the ATConnect UI is no longer being shown. The delegate could provide callbacks for various interactions with the user, including dismissal. This can be useful for applications that gather usage statistics. The MFMailComposeViewControllerDelegate in iOS's MessageUI library is a good

[2014-03-19 13:48] engmsaleh opened #87 "Unknown type name 'ATTTTAttributedLabel'; did you mean 'TTTAttributedLabel'?"
This error happens when I try to add the Apptentive lib as subproject to my xcode project

[code]

[2014-03-19 14:06] engmsaleh opened #88 "Unexpected interface name 'JKArray': expected expression"
This error occurs when install Apptentive as subproject

[code]

[2014-03-19 17:39] #88 closed, assigned to nobody

[2014-03-27 15:10] #76 closed, assigned to nobody

[2014-03-29 19:20] #84 closed, assigned to wooster

[2014-03-29 19:23] #83 closed, assigned to wooster

[2014-03-29 19:25] #87 closed, assigned to nobody

[2014-03-29 19:28] #77 closed, assigned to nobody

[2014-04-07 19:05] #31 closed, assigned to wooster

[2014-04-14 22:15] wooster opened #90 "ATLogger fails to catch exception if no space left on device"
-[NSFileHandle writeData:] throws an exception if there is no space left on the filesystem. We should add an exception handler to catch this case to avoid crashes.

[2014-04-14 22:19] wooster opened #91 "ATAppConfigurationUpdateTask needs to retain self before updating task state"
This method:

[code]

Is unsafe because `self.failed` may cause the task to be deallocated. This entire statement should be wrapped in a retain/release pair, as with the other tasks.

[2014-04-16 17:12] DavidLudwig opened #92 "Initial app configuration doesn't update on first launch, in SurveyAfterEnjoyment branch"
When using the latest revision of Apptentive's SurveyAfterEnjoyment branch (which is currently at commit, ff209f6810b9716d91630695f6ccd19adf713a79), the app's configuration doesn't appear to be getting updated on app-launch.  I've noticed this bug preventing settings from the Apptentive dashboard from being applied to client apps.

It does look like this was fixed in the master branch, to note, vi

[2014-04-16 17:54] #92 closed, assigned to nobody

[2014-04-18 21:25] #90 closed, assigned to wooster

[2014-04-18 21:25] #91 closed, assigned to wooster

[2014-05-07 06:36] mykrr opened #93 "Library not found for -lApptentiveConnect"
I am using the Apptentive - Cocoa pods. But i have an issue ""_OBJC_CLASS_$_ATConnect", referenced from:" and for that i have added the "-ObjC -lApptentiveConnect ..." in other linker flags.

Still it get fails with "library not found for -lApptentiveConnect".

So please help on this..

[2014-05-15 15:49] jurysch opened #94 "Message Center Text Loupe Transparent Through to Top View"
When tapping and holding for modifying text cursor, copy/paste, etc the loupe view sees through the Apptentive dialog to the top view.

![apptentive-loupe](https://cloud.githubusercontent.com/assets/627934/2986876/7703bd18-dc48-11e3-94c4-826627589ed3.png)

[2014-05-29 18:28] pkamb opened #95 "Opening the Rating Prompt by swiping from iCarousel"
Opening a new issue for @mnjk's issue originally [posted here](https://github.com/apptentive/apptentive-ios/issues/57#issuecomment-44516283).

---

i wish to popup the rating prompt while swipe on iCarousel view
for that, i have written rating prompt code on

[code]

while swipe the rate prompt appeared and if we click "NO" app getting crash with following error code

![screen shot 2014-05-29 at 3

[2014-05-30 17:07] lhasiuk opened #96 "Exception when invoking ATConnect after conversion to cocoapods for ATConnect 1.4.3"
I just converted our app from using an older version of the Apptentive Connect iOS library to the newest version, at the same time switching Apptentive to use cocoapods, which we are already using successfully with RestKit.

After running pods install and cleaning and compiling our app, which built successfully, I tried to invoke ATConnect with a call to presentMessageCenterFromViewController:with

[2014-05-30 22:45] #96 closed, assigned to nobody

[2014-06-02 09:51] mnjk opened #97 "no such file or directory libGoogleAnalyticsServices.a"
can you help me to solve this once.

https://github.com/mwaterfall/MWFeedParser/issues/63#issuecomment-44818021

[2014-06-05 08:01] mnjk opened #98 "clang: error: no such file or directory: /Build/Products/Debug-iphonesimulator/libGoogleAnalyticsServices.a'"
clang: error: no such file or directory: '/Users/Kareems/Library/Developer/Xcode/DerivedData/EventAheadModel-azsrdqingbkxowejmrgzozgxguao/Build/Products/Debug-iphonesimulator/libGoogleAnalyticsServices.a'

![screen shot 2014-06-05 at 12 00 40 pm](https://cloud.githubusercontent.com/assets/7694338/3184627/676040d0-ec87-11e3-9593-1d34107065b0.png)

![screen shot 2014-06-05 at 12 00 57 pm](https://cl

[2014-06-08 04:15] #98 closed, assigned to nobody

[2014-06-16 15:21] prasannasm87 opened #100 "Rating Flow"
I was integrate Apptentive SDK1.5.0.  But The alert(Do you love this app?) not showing.
I got bellow result from console when i click "Rate this app".
MY code is
[[ATConnect sharedConnection] engage:@"importantViewRating" fromViewController:self];
 What i am doing wrong.

Result:
Found 2 cached interactions for code point: local#app#importantViewRating
[info] Interaction predicate failed evaluatio

[2014-06-16 22:42] #100 closed, assigned to nobody

[2014-06-18 11:46] mnjk opened #101 "Apptentive Rating Prompt not shown for Event"
Initially i have integrated apptentive in my application with so other app id for testing the rating prompt, it is working fine (now also).if i add new app on webconsole then i have changed API Key and app id.
it would't show rating prompt for given event (event count also not increase).
but, the feedBack message received from app.

what would i do. to make it work for my new app (api key and app

[2014-06-18 16:18] #95 closed, assigned to pkamb

[2014-07-17 23:25] #94 closed, assigned to pkamb

[2014-07-23 04:10] leapfrog-bishalghimire opened #116 "ATSurveys - hasSurveyAvailableWithNoTags"
In ATConnect what is the equivalent of `hasSurveyAvailableWithNoTags` and `hasSurveyAvailableWithTags:` for ATSurveys?

Could not found in following change logs,
https://github.com/apptentive/apptentive-ios/blob/master/CHANGELOG.md
https://github.com/apptentive/apptentive-ios/blob/master/docs/MigratingTo_1.5.0.md
https://github.com/apptentive/apptentive-ios/blob/master/docs/APIChanges.md

[2014-08-04 20:44] interhive opened #119 "RubyMotion support?"
I'm trying to integrate apptentive into a RubyMotion app.

I've added the CocoaPod to my project and am able to compile. When I run the app, I get the following error:

[code]

Not really sure what's going on. I did find, in another issue, that someone mentioned they got this error when the ATConnect Resource bundle wasn't included. I'm not seeing this in the Pod folder for apptentive.

Any help w

[2014-08-04 22:14] #119 closed, assigned to nobody

[2014-08-25 03:02] hightech opened #121 "Release version 1.5.6 doesn't support on iOS8"
Hi,
I have an issue with iOS8 in that it doesn't display Message Center View. It is working on iOS7 but not for iOS8. Yes, I did update with your version 1.5.6 on my app and it is getting worse. The previous version is working on iOS8 to display Message Center View, however, it doesn't show the messages on the view. Any idea what might be the issue?

[2014-08-26 10:33] #121 closed, assigned to nobody

[2014-09-05 07:27] tspecht opened #123 "PNG files missing"
While compiling my app after adding the apptentive-ios SDK using Cocoapods, Xcode complains several files are missing. The same error is logged to the console:
[error] Unable to find image named: at_mc_user_icon_default
2014-09-05 09:24:14.837 myApp[5460:2280195] [error] sought at: (null)
2014-09-05 09:24:14.837 myApp[5460:2280195] [error] bundle is: NSBundle </var/mobile/Containers/Bundle/Applica

[2014-09-08 22:42] #123 closed, assigned to nobody

[2014-09-08 22:45] pkamb opened #124 "Xcode 6 warning: Automatic Preferred Max Layout Width is not available on iOS versions prior to 8.0"
Apptentive Connect displays the following warnings in Xcode 6 Beta 6:

![Xcode 6 warnings](https://cloud.githubusercontent.com/assets/342355/4194100/7a24c78c-37a9-11e4-9a06-d741ffbb9259.png)

[2014-09-08 22:45] #124 closed, assigned to nobody

[2014-09-10 04:55] pkamb opened #125 "Error when submitting to App Store: Apptentive bundle is not signed using an Apple submission certificate"
iTunes Connect was updated today after the iOS 8 announcement, and the new version appears to have an issue that is preventing the submission of apps that include an embedded `.bundle`. Unfortunately this is impacting Apptentive customers as well as customers of numerous other frameworks [such as Google Plus and Google Maps](http://stackoverflow.com/questions/25755142/appstore-submission-missing-o

[2014-09-10 21:24] #125 closed, assigned to nobody

[2014-09-11 23:16] #101 closed, assigned to nobody

[2014-09-11 23:17] #97 closed, assigned to nobody

[2014-09-11 23:17] #93 closed, assigned to pkamb

[2014-09-11 23:21] #78 closed, assigned to pkamb

[2014-09-22 10:54] saldiabhinav opened #127 "Message Center Layout Distorted in Landscape View iPad in iOS 8"
Whenever message center is displayed in landscape mode the layout looks distorted. Message UI is not visible.

![image](https://cloud.githubusercontent.com/assets/6602755/4355029/05d63832-4246-11e4-8324-7ede992aa86d.png)

![img_0235](https://cloud.githubusercontent.com/assets/6602755/4355042/3b4667b2-4246-11e4-9833-60d2c486e0e7.PNG)

The first case could be reproduced by following these steps:
1.

[2014-10-12 15:40] pickett opened #134 "NSGregorianCalendar Warnings"
This line (and others like it) throws a warning in apps compiled for iOS 8.
[code]

Are there plans to update this?

[2014-10-13 18:48] caseyt opened #135 "Message center iOS7 message truncation and iPad layout issues"
Message center on iOS7 truncates messages to 2 lines. Users cannot see more then the first 2 lines of our responses.

Also, message center on iPad running iOS7 displays messages at iPhone width.

Here is a screenshot showing both issues:
![apptentive-ipad-ios7](https://cloud.githubusercontent.com/assets/1576909/4618372/68e985fe-5309-11e4-9311-2336a0918c4b.png)

Neither of these issues occur on iOS

[2014-10-14 09:17] freemansion opened #136 "Is there any way to get the conversation?"
Is there any method that allows to get the conversation?

[2014-10-17 23:43] #127 closed, assigned to nobody

[2014-10-20 14:41] #136 closed, assigned to nobody

[2014-10-21 00:39] #116 closed, assigned to nobody

[2014-10-24 22:26] #135 closed, assigned to nobody

[2014-10-28 18:44] pkamb opened #139 "Message Center landscape presentation issue on iPhone 6 and 6 Plus. Fixed by adding iPhone 6 Launch Images to parent app."
We have had several reports of Apptentive Message Center not displaying correctly when presented in landscape on an iPhone 6 or 6 Plus.

This appears to be an issue with the scaling performed by iOS 8 to scale an iPhone 5 image to the new device sizes:

![ios simulator screen shot oct 28 2014 11 38 24 am](https://cloud.githubusercontent.com/assets/342355/4814758/2fdc0ece-5ed2-11e4-9b0c-78ea2e625d4

[2014-10-28 18:44] #139 closed, assigned to nobody

[2014-11-17 13:31] maciejburda opened #142 "'NSInvalidArgumentException', reason: '+entityForName: nil is not a legal NSManagedObjectContext parameter searching for entity name 'ATTextMessage''"
In my project there is an error when trying to send message.

Stacktrace leads to nil managedObjectContext inside ATTextMessage.

It works when API_KEY is not set.

Any ideas?

[2014-12-09 20:35] orff opened #143 "need 3X versions of the art"
new devices need 3x art.  From my cursory look you generate the are from the psds, so you would need to update your export scripts.

[2014-12-09 20:40] orff opened #144 "convert to over-ride-able storyboards ?"
At our company ( Viacom ), we distribute our internal components with CocoaPods.  For our brand tech teams to be able to customize the views, we have a "generic" storyboard with the view templates, and then the implementor of the library can override the storyboards by copying it to their local bundle and then customizing it.  Can you guys consider moving to a system like this where the library vi

[2015-03-12 15:24] pasevin commented on #86
Hey, is this still an issue? I still can't find documented delegate for Message Center dismissal. Need that for removing unread messages count badge.

[2015-03-12 18:38] pkamb commented on #86
Hi @pasevin, you should be able to simply listen for the `ATMessageCenterUnreadCountChangedNotification` notification to clear a message count badge.

[code]

This ticket is for more of a notification when Apptentive's UI has been removed. Let me know if the notification doesn't work for your needs.

[2015-03-12 19:29] pasevin commented on #86
hi, I'm using `NSNotificationCenter.defaultCenter().addObserver(self, selector: "unreadMessageCountChanged:", name: ATMessageCenterUnreadCountChangedNotification, object: nil)`
And it works, but not instantly. It takes sometimes up to a few minutes to execute. Not sure if that's normal. There is one case when user closes Message Center, I need to nullify the counter instantly. Now I do it when use

[2015-04-27 00:44] sgorbyo opened #148 "Landscape Message Center Alignment Problem"
The problem appear on real device iPad 2 iOS 8.3(12F69) 64GB **NOT** on simulator.
I've captured the following from Apptentive Demo:

![img_0059](https://cloud.githubusercontent.com/assets/2874319/7340067/2ba9e6dc-ec85-11e4-8b67-c109fd9a8ccf.PNG)

And from my App:
![img_0056](https://cloud.githubusercontent.com/assets/2874319/7340148/f3f92f16-ec86-11e4-8c65-6b2ffbac670e.PNG)

[2015-04-27 18:04] pkamb commented on #148
Hi @sgorbyo, thanks for reporting this.

We fixed the same or a similar issue in the recent 1.7.3 release. Would you be able to test to see if that fixed your issue?

Thanks!

https://github.com/apptentive/apptentive-ios/releases/tag/v1.7.3

[2015-05-01 22:19] sgorbyo commented on #148
Hi pkamb, thank you very much for your answer.
It seems CocoaPods is still not aware of version 1.7.3 so I integrated apptentive using XCode.
Something changed for better but it is still not what we expect to see. Again it works in the simulator but this is how it appears on my iPad 2:

![img_0060](https://cloud.githubusercontent.com/assets/2874319/7438183/37294bd6-f060-11e4-8171-7b392ce922ea.PNG)

[2015-05-02 04:31] pkamb commented on #148
Ah, thanks for the heads up about CocoaPods. 1.7.3 should now be available there as well.

Do you by chance have any other iPads to test this on in your app? Perhaps an original iPad Mini, or a newer Retina iPad? I'd be interested in hearing if it's just this iPad 2.

We will get our hands on some older hardware and test as well. Thanks!

[2015-05-03 03:17] sgorbyo commented on #148
I'm sorry but I only have access to this hardware. I hope the problem could be limited to my iPad so, if you test with success on other (possibly similar) iPads please let me know.
Thank you.

[2015-05-29 23:24] pkamb commented on #148
Same issue:
http://stackoverflow.com/questions/30237816/custom-uiwindow-on-ios-8-3-ipad-works-on-simulator-but-not-device

[2015-05-30 00:05] sgorbyo commented on #148
Hi Peter,

Yes, it seems exactly the same weird behavior. Also in my case it started
since I migrated to Xcode 6.3.

I did a bit of tracing and I also discovered that the controller "feel" it
is in portrait instead of in landscape mode. Maybe a different way to
detect orientation in code or even a double check using two independent way
could help to understand the origin of the issue.

I don't hav

[2015-05-30 00:31] pkamb commented on #148
Thanks Danilo. I'm digging into this a bit and having a very hard time understanding what is going wrong.

The iOS bug seems to be isolated to iPad 2 hardware. iPad 2 Simulator is fine. iPad Mini is fine.

The OP on that StackOverflow post says:

Setting the window's `rootViewController` in our app isn't immediately successful by itself... the view/window hangs and isn't shown. After a delay it ev

[2015-06-01 21:01] pkamb commented on #148
The person who posted that Stack Overflow question updated it with an answer of setting the `rootViewController`, which fixed it in their app. Something like this may be possible, for anyone who finds this question. From my testing this simply forced our landscape iPad 2 into a portrait configuration, not really solving this iPad 2 bug and also introducing issues for other hardware.

[code]

Due t

[2015-06-01 21:01] #148 closed

[2015-07-09 22:17] kristinkarpack opened #150 "Keyboard appearing over alert on iOS 8.3+"
Tapping Yes from the "Do you love XYZ" prompt shows an alert and - on devices with iOS 8.3 and later - pops the keyboard, obscuring some of the buttons, especially on shorter devices.  StackOverflow reconnaissance indicates this may be an issue with the deprecated UIAlertView - may need to upgrade this alert to UIAlertController to fi this issue on new OSes

[2015-07-10 21:09] pkamb commented on #150
Hi, thanks very much for reporting this.

Is this happening on any particular device? Or all devices? Simulator?

Do you have a link to the Stack Overflow question you are referencing?

Thanks!

[2015-07-10 21:13] kristinkarpack commented on #150
Thanks for following up! Here's the question I thought might be related:
http://stackoverflow.com/questions/30129278/keyboard-pops-up-after-uialertview-is-dismissed-on-ios-8-3-for-ipad.
We're seeing the behavior on iPhones/iPods and iPhone simulators on iOS 8.3
and 8.4. It doesn't happen 100% of the time but only happens on those OSes
when it does.

Thanks,
Kristin

On Fri, Jul 10, 2015 at 2:09 PM

[2015-07-14 15:18] valheru7 commented on #150
Yes, we are having this issue too. The only workaround is for the user to close the app and open it agian and then the keyboard drops. (Obviously not the greatest workaround since the last thing you want is your user to close your app)

[2015-07-15 00:27] pkamb commented on #150
@kristinkarpack @valheru7 Thanks again for reporting this. I've investigated the issue and seem to have found the cause of this behavior.

In iOS 8.3+, it seems that when UIAlerts are "chained", odd-number alerts dismiss the keyboard. Even-number alerts bring it up again, and the keyboard then covers that alert.

This is a problem for Apptentive as our "Do you Love" alert transitions directly into

[2015-07-15 18:15] pkamb commented on #150
I've also reported this iOS UIAlertView bug as rdar://21838378

[2015-07-16 23:32] pkamb commented on #150
I've added UIAlertController support to the Ratings Prompt on the `RatingPromptUIAlertControllers` branch, which should fix this issue in your app.

https://github.com/apptentive/apptentive-ios-private/tree/RatingPromptUIAlertControllers

 Please let me know if you continue to experience any issues! I will be working on an official release for this as well.

[2015-07-17 12:52] detouch opened #151 "UI iOS 9 beta"
Calling [[ATConnect sharedConnection] **presentMessageCenterFromViewController**:self]
for the first time
on iOS 9 (beta 3) on iPhone 6+
results in the **pop-up window being displayed off-screen** (too far up).

[2015-07-20 14:33] Dids commented on #151
+1

[2015-07-21 17:43] pkamb commented on #151
Hi, thanks for the issue. We will be releasing an update with initial fixes for iOS 9 in the near future. I'll post that here when it is ready.

[2015-07-31 13:47] valheru7 opened #152 "iOS 9 Betas: TLS v1.2 requirement issue (App Transport Security)"
Hey guys

Experimenting with iOS 9 Beta, I had to update this for my app as well because my google app engine servers do not support TLS v1.2 yet either.

This is the issue: http://stackoverflow.com/questions/30720813/cfnetwork-sslhandshake-failed-ios-9

Essentially a ton of these in the logs: CFNetwork SSLHandshake failed (-9824) NSURLSession/NSURLConnection HTTP load failed (kCFStreamErrorDomain

[2015-08-07 06:39] sharjeelnisar1 commented on #150
Hi, @pkamb!

   I'm experiencing the same keyboard pop up issue on Ratigns Prompt. the link you provided in your last post, for a fix to this issue, isn't working. Can you please provide a valid link and help us to fix this issue. We'r experiencing decrease in downloads of our app, due to this issue.

 I'll appreciate your quick response.

[2015-08-07 06:44] sharjeelnisar1 opened #153 "Frame squeeze on Ratings Alert"
On Displaying "Do you Love XYZ" alert, frame of my app is pushed down, half of the screen and around 20 pixels from the left.

Above portion becomes black and all of the UI behaves like that. On killing app and restarting brings its UI to normal Position. Please fix this issue ASAP. We'r facing download decrease due to this issue.

[2015-08-07 17:13] pkamb commented on #153
Hello, can you please add a picture of this issue in your app? Thanks!

[2015-08-07 17:44] pkamb commented on #152
Hi, thanks for this! We will be issuing an update with a fix for this soon, and I'll update the ticket then.

[2015-08-07 18:46] pkamb commented on #150
Hi @sharjeelnisar1, has the patch in the branch above been applied correctly to your submodule? My guess is that you are still using the UIAlert version of the project. If the UIAlertController code is definitely being used, please let me know what behavior you see. Screenshots would be very helpful.

[2015-08-07 18:47] pkamb commented on #150
In other news, my Radar for this issue has been acted upon. In iOS 9 beta 5, this odd/even keyboard pop-up behavior still occurs. However, it does **not** obscure the UIAlertView. The alert view is moved above the keyboard, and the title/message/buttons now scroll. Nothing is covered. So this is better behavior in iOS 9, at least.

[2015-08-10 18:03] pkamb commented on #152
Hello, this issue should now be fixed (no SDK update required). Please let me know if you continue to see any issues related to TLS in iOS 9!

[2015-08-10 18:03] #152 closed

[2015-08-21 22:47] msuprovici opened #154 "CocoaPods Linker Error"
When I enter my apiKey I get the following errors:

[code]

When I comment it out but leave the "ATConnect.h" import, the project builds.  Any advice here?

[2015-08-21 22:52] pkamb commented on #154
Hi, there are a couple common causes for this error.

I would guess it's from forgetting to link ApptentiveConnect in the `Link Binary With Libraries` build phase?

Let me know if that helps, and we can debug further.

Some other solutions here:
http://stackoverflow.com/questions/6429494/undefined-symbols-for-architecture-armv7

[2015-08-21 22:58] msuprovici commented on #154
Sorry, I forgot to mention that I'm using cocopods.  Does this still apply?

[2015-08-21 23:05] pkamb commented on #154
Do either of these answers help?

http://stackoverflow.com/questions/27286226/undefined-symbols-for-architecture-armv7-for-cocoapods-libraries

http://stackoverflow.com/questions/18132995/cocoapods-flurry-testflight-undefined-symbols-for-architecture

[2015-08-21 23:34] msuprovici commented on #154
Nope.  Tried all the above. But no go.

On Fri, Aug 21, 2015 at 4:05 PM, Peter Kamb <notifications@github.com>
wrote:

[2015-08-21 23:41] pkamb commented on #154
Ah, here is my answer for the same issue (with Apptentive) in the past. Hoping that this fixes it for you, but let me know!

http://stackoverflow.com/questions/20864172/undefined-symbols-error-when-integrating-apptentive-ios-sdk-via-cocoapods

Check your linker flags:

    Target > Build Settings > Other Linker Flags

You should see `-lApptentiveConnect` listed as a linker flag:

    ... -ObjC -lA

[2015-08-21 23:47] msuprovici commented on #154
Yup, I saw this before I reached out.  I don't see -lApptentiveConnect  but I do see "apptentive-ios".  When I try to manually add it to my linker flags I get this:

ld: library not found for -lApptentiveConnect
clang: error: linker command failed with exit code 1 (use -v to see invocation)

[2015-08-21 23:51] pkamb commented on #154
You're opening the Xcode workspace, and not the project file, right?

Is CocoaPods properly installed / updated for your pods?

http://stackoverflow.com/questions/23539147/xcode-ld-library-not-found-for-lpods

[2015-08-22 00:13] msuprovici commented on #154
Yes & yes.  I just verified that I'm up to date - cocoapods-0.38.2  Also
just re-installed everything to make sure, but I get the same errors.

On Fri, Aug 21, 2015 at 4:51 PM, Peter Kamb <notifications@github.com>
wrote:

[2015-08-22 15:19] msuprovici commented on #154
Seems like this is a cocoapods issue and not and with Apptentive.

[2015-08-22 15:19] #154 closed

[2015-09-03 12:23] pickett commented on #151
Hey @pkamb any ETA on iOS 9, didn't see an active branch on github! Thanks in advance, Ben!

[2015-09-03 21:49] pkamb commented on #151
Hi @detouch @Dids @pickett

We've just released version 2.0.0, with iOS 9 support + many other changes.
https://github.com/apptentive/apptentive-ios/releases/tag/v2.0.0

Please give this version a try in your app, and let us know if you see any other issues with iOS 9. We have been testing on the latest beta and there are no known issues. Thanks!

[2015-09-03 21:49] #151 closed

[2015-09-03 21:50] pkamb commented on #153
Hello, the "Do you Love" alert has been switched to use `UIAlertController` in version 2.0.0. Please give that a try, and let me know if you are still having this issue.

https://github.com/apptentive/apptentive-ios/releases/tag/v2.0.0

[2015-09-03 21:50] #153 closed

[2015-09-03 21:51] pkamb commented on #143
Hello, the remaining 3X versions of our images have been added in v2.0.0. Thanks for using Apptentive!

https://github.com/apptentive/apptentive-ios/releases/tag/v2.0.0

[2015-09-03 21:51] #143 closed

[2015-09-03 21:52] pkamb commented on #150
This should now be fixed thanks to `UIAlertControllers` in version 2.0.0:
https://github.com/apptentive/apptentive-ios/releases/tag/v2.0.0

[2015-09-03 21:52] #150 closed

[2015-09-03 22:06] pickett commented on #151
Wow! Huge! Way to go. I'll check it out soon. 

————
Sent via Mobile

On Thu, Sep 3, 2015 at 5:49 PM, Peter Kamb <notifications@github.com>
wrote:

[2015-09-06 08:39] Natelegreat1 opened #155 "Missing storyboard 'MessageCenter' (2.0.0)"
As soon as I loaded the new version via cocoa pods (2.0.0), I started getting these crashes upon trying to 'presentMessageCenterFromViewController'  :

    'Could not find a storyboard named 'MessageCenter' in bundle NSBundle </var/mobile/Containers/Bundle/Application/004838EE-512F-4F60-AB71-82E3D788AF96/StudyBuddy.app/ApptentiveResources.bundle> (not yet loaded)'

[2015-09-06 21:53] pickett commented on #155
Same here

[2015-09-06 21:54] pickett commented on #155
Here's a stacktrace:

[code]

[2015-09-06 22:04] pickett commented on #155
@Natelegreat1 if you download a zip of the Apptentive SDK and pull in Main Storyboard and Message Center Storyboards it will work but I'm not sure @pkamb if there need to be storyboards for each localization (as it appears in your localizaiton files).

Either way, seems to just be a pods dependency issue.

[2015-09-07 02:24] Natelegreat1 commented on #155
@pickett I figured it was just some pods dependency issue. I just ended up switching to Helpswift instead just out of shear frustration. Maybe I'll give them another chance once I see the what this 2.0 looks like. Nice catch with running it manually!

[2015-09-07 02:24] Natelegreat1 commented on #155
Whoops. Didn't mean to close. Still a valid Issue!

[2015-09-07 03:00] pkamb commented on #155
Thanks for bringing this up, and sorry for the issue here with CocoaPods. Looking into this...

[2015-09-07 06:15] pkamb commented on #155
Sorry for the issue here. The commit above should fix the crash you are seeing, by adding our Storyboard to the CocoaPods resources bundle.

After pulling that commit, this fix can be added as a local CocoaPod in your Podfile like so:

    pod 'apptentive-ios', :local => "~/path/to/local/apptentive-ios"

The resulting build is now however missing the images in our UI, which as of 2.0.0 have been a

[2015-09-07 13:33] pickett commented on #155
@pkamb thanks for jumping on this

[2015-09-08 16:36] danielzev commented on #155
+1

[2015-09-08 19:49] jeremyprovost commented on #155
+1

[2015-09-08 19:51] jeremyprovost opened #156 "tintColor for alerts cannot be overridden with ATConnect setTintColor: method"
Our application's tint color looks pretty bad with the alerts that prompt the user if they like the app or not (and whether to rate, remind, or no thanks). We tried overriding the tint color using the following:

[[ATConnect sharedConnection] setTintColor:[UIColor orangeColor]];

This does not seem to have any effect on the alerts that are displayed.

[2015-09-08 19:56] pkamb commented on #155
Hi folks, we have a fix for the Storyboard and the missing images on the cocoapods branch here: https://github.com/apptentive/apptentive-ios/tree/cocoapods

Will be releasing a 2.0.1 release for cocoapods now, I'll post again when that is available.

[2015-09-08 19:57] danielzev commented on #155
Good work guys :+1:

[2015-09-08 20:21] frankus commented on #156
Thanks for reporting this. We have a fix in the pipeline for iOS 8 and 9 (using UIAlertController), but for iOS 7 unfortunately there is no public API for the button colors in UIAlertView and no really good workarounds.

In the meantime you can add the following code to override it for iOS 8 and 9 (e.g. in `-application:didFinishLaunchingWithOptions:`):

[code]

[2015-09-08 20:33] pkamb commented on #155
2.0.1 should now be available from CocoaPods:
https://cocoapods.org/?q=apptentive-ios

and also on our Releases page:
https://github.com/apptentive/apptentive-ios/releases/tag/v2.0.1

Please let me know if you experience any other issues with CocoaPods or with the 2.0 release in general! Thanks for using Apptentive.

[2015-09-11 22:49] ALHariPrasad opened #157 "ATMessageCenterViewController Nav bar tint is overwritten to WhiteColor"
If we use [ATConnect sharedConnection].tintColor to set custom color that will be over written to white color at line 122.

[2015-09-11 23:01] frankus commented on #157
The `tintColor` property on the `ATConnect` object only affects the color of the bar button items in the navigation bar (as well as any active buttons in the Message Center UI).

Our intention was to allow people to override the bar tint color using UIAppearance, but you are correct that the way we explicitly set the barTintColor will override any other settings.

We are aware of the this issue an

[2015-09-11 23:15] ALHariPrasad commented on #157
How can i set the nav bar tintColor?

[2015-09-17 17:47] jeremyprovost commented on #156
This fixes the main issue but breaks other uses of tintColor. Filed a radar:

https://openradar.appspot.com/radar?id=6066291735527424

[2015-09-18 18:28] frankus commented on #157
The 2.0.2 release should fix this. You can now override the `barTintColor` for all Apptentive UI as follows:

[code]

You can adjust the `tintColor` of Apptentive view controllers using the (now deprecated) `tintColor` property on the `ATConnect` singleton, or the following code:

[code]

Apptentive UI based on `UIAlertController` will continue to pick up your application window's `tintColor` prop

[2015-09-18 18:28] #157 closed

[2015-09-18 18:34] frankus commented on #156
This does appear to be a regression in iOS 9. The UIAlertController will always pick up the tintColor of the application's window.

[2015-09-21 06:36] CKUDG commented on #157
@frankus is there also a swift 2.0 example?

Thanks much and best regards,
C

[2015-09-21 16:56] frankus commented on #157
Our existing [example project](https://github.com/apptentive/swift-example) should work. (I just ran the previous version through the conversion process with no changes, and checked in the updated project file).

[2015-09-21 17:07] CKUDG commented on #157
For iOS9 the "appearanceWhenContainedIn" isn't available anymore..
Now it's the following:

[code]

best regards,
C

[2015-09-21 18:22] frankus commented on #157
Oh right, I forgot about that. I’ll make a note to add that to the documentation.

Thanks,

-Frank

[2015-09-24 17:21] huynhduyson opened #158 "Apptentive Rating Prompt not shown for Event - version 2.0"
My source code:

AppDelegate.m
[code]

MyViewController.m
[code]

Rating Prompt configuration:
<img width="833" alt="screen shot 2015-09-24 at 11 49 34 pm" src="https://cloud.githubusercontent.com/assets/8979691/10080679/41b6b20e-631b-11e5-9b9c-289ceb7b3001.png">
<img width="834" alt="screen shot 2015-09-24 at 11 49 52 pm" src="https://cloud.githubusercontent.com/assets/8979691/10080681/443a7d58-6

[2015-09-24 17:31] frankus commented on #158
Thanks for the detailed report.

To quickly get to the bottom of this, set a breakpoint on line 113 of ATInteractionInvocation.m, trigger your event, and when it hits the breakpoint, print a description of both the `predicate` and the `[usageData predicateEvaluationDictionary]` variables. You can then mentally substitute the values from the latter into the expression in the former and figure out w

[2015-09-24 17:42] huynhduyson commented on #158
Thanks for the quickly response from you.

[2015-09-24 18:29] huynhduyson commented on #158
It's working perfectly. Thanks for your support @frankus

[2015-09-24 18:29] #158 closed

[2015-10-05 02:15] naikling opened #159 "The Traditional Chinese Localization folder for iOS is incorrecct"
Switch your iOS language to Traditional Chinese and start Message Center inside an app will see English "Message Center" instead of the localized version.

The problem is the localized folder name for traditional Chinese is not zh.lproj  it should be zh-Hant.lproj
by changing the folder name to zh-Hant.lproj you should see the proper localized version.

Change
apptentive-ios/ApptentiveConnect/reso

[2015-10-05 07:06] ssglobal2015 commented on #150
Hi pkamb,
I have integrated latest version of Apptentive API (V2.0.2) iOS SDK into my application. Every thing working fine. Except the alerts are displayed at the top-left of my view controller. I ams struggling from a while to resolve this issue. Please provide solution to get workaround to resolve this issue.

![Uploading image005.png…]()

[2015-10-05 14:58] magic146 opened #160 "Incorrect appID"
[code]
If there is no "store_id" then this method doesn't get appID from [ATConnect sharedConnection] because appID is equal to empty string but not nil.

[2015-10-05 14:58] magic146 commented on #160
This is a fixed version:

- (NSString *)appID {
	NSString *appID = self.interaction.configuration[@"store_id"];
	if (appID.length == 0) {
		appID = [ATConnect sharedConnection].appID;
	}
	return appID;
}

[2015-10-05 17:24] pkamb commented on #150
Hi @ssglobal2015, can you please re-upload the screenshot?

Your issue is likely related to the question below, presenting a view *from* a UIAlertController.

http://stackoverflow.com/questions/27028983/uialertcontroller-is-moved-to-buggy-position-at-top-of-screen-when-it-calls-pre

Is it possible that you are passing a `UIAlertController` as the `viewController` parameter of `engage:fromViewContr

[2015-10-05 18:28] pkamb commented on #160
Hello, thanks for reporting this. We are pushing out a fix for this on our backend that will not include the `store_id` key in the case of empty string values. This issue can also currently be fixed by adding a Store ID via your Apptentive dashboard.

We'll also make your suggested fix of checking for empty strings in the SDK (if you'd like to, please submit a PR).

Thanks!

[2015-10-05 19:30] naikling opened #161 "Error message "Your Apptentive API key may not be set correctly!" never show up. even with 401 error"
I put the wrong APIKEY with

instead of
[code]

I put:

[code]

So I step through the code in `ATAPIRequest.m`, at line 130 you have the following code:

[code]

But the code is never trigger  even with the status code is 401.
It should be easily reproducible if you set the wrong API key and you dont see the message in output box.

[2015-10-08 09:46] napolux opened #162 "iOS 8.4.1 layout problem"
We open an email message from our viewcontroller, but ONLY in iOS 8.4.1 on iPad is broken and not in the middle of the screen...

iOS 8.3.x and iOS 9.x is fine...

![info_cosanepensi_ipad4](https://cloud.githubusercontent.com/assets/1070836/10363000/17bcf9ee-6db2-11e5-8e2e-21578d8c0bf3.png)

[2015-10-08 19:59] pkamb commented on #162
Hi @napolux, sorry for the issue here.

We have seen this issue, but like you said only on certain iPad hardware models and certain iOS versions. It's been very difficult to track down, and the root cause lies somewhere in Apple's code.

https://github.com/apptentive/apptentive-ios/issues/148

http://stackoverflow.com/questions/30237816/custom-uiwindow-on-ios-8-3-ipad-works-on-simulator-but-not-de

[2015-10-14 21:40] #160 closed

[2015-10-14 23:58] pkamb commented on #160
Hello, this is fixed in v2.0.3:

https://github.com/apptentive/apptentive-ios/releases/tag/v2.0.3

[2015-10-23 07:16] Taarna opened #163 "Can't upload to iTunes"
Hi guys.

We tried uploading the app to iTunes yesterday, but Application Loader kept showing this message:

<img width="633" alt="screen shot 2015-10-23 at 08 56 55" src="https://cloud.githubusercontent.com/assets/4928442/10686459/95651904-7964-11e5-9ffd-8ae55dd136fd.png">

At first we thought Apple is having some problems but then someone on StackOverflow suggested that the message might be caus

[2015-10-26 03:36] pashan commented on #163
Please update, we need it as soon as possible.Waiting, please please, update it.

[2015-10-26 03:40] pashan opened #164 "ATIntercationUpgradeMessageViewController.xib file is set to build for a version older than..."
When building app for store, getting warning:

ATInteractionUpgradeMessageViewController.xib

This file is set to build for aversion older than the project deployment target. Functionality may be limited.

xCode 7.1 Please fix this.

[2015-10-26 19:24] frankus commented on #163
We are hard at work on a fix.

The source of this issue is that the ApptentiveResources.bundle that's generated includes an Info.plist file that doesn't have the bundle identifier (CFBundleIdentifier), bundle version (CFBundleVersion), and bundle short version string (CFBundleShortVersionString) keys set. As a workaround, you can set them manually (we'll be using the values 'com.apptentive.resourc

[2015-10-26 19:44] frankus commented on #161
Thanks. This will be addressed in an upcoming release, by escalating it to an `ATLogError` call.

[2015-10-26 19:48] frankus commented on #159
Thank you for your help with this. It will be fixed in an upcoming release.

[2015-10-26 19:49] #155 closed

[2015-10-26 20:36] Taarna commented on #163
Thank you!

[2015-10-26 20:37] pedromancheno commented on #163
Worked like a charm

[2015-10-27 04:14] frankus commented on #159
This should be fixed in version 2.0.4.

[2015-10-27 04:14] #159 closed

[2015-10-27 04:14] frankus commented on #163
This should be fixed in version 2.0.4.

[2015-10-27 04:14] #163 closed

[2015-10-27 04:14] frankus commented on #161
This should be fixed in version 2.0.4.

[2015-10-27 04:14] #161 closed

[2015-10-27 04:16] frankus commented on #164
Because our library supports devices back to iOS 7.0, we can't update the deployment target of this xib file to a version higher than 7.0. Although it's annoying, you can safely ignore this warning.

In a future release this xib will be merged with the new storyboard file, so this warning should go away. Stay tuned :)

[2015-10-27 04:18] frankus commented on #156
Please take a look at our latest release as well as the [updated customization guide](https://www.apptentive.com/docs/ios/customization/).

Let me know if you're still running into problems for which there is a published API that fixes them. There are a few known issues (such as alert tint colors on iOS 7) for which there isn't a published API to fix them.

[2015-10-27 04:18] #156 closed

[2015-10-28 17:48] frankus commented on #163
Just a note that we missed a file in the CocoaPods version in 2.0.4. 2.0.5 addresses this, so please run a `pod update` if you are still seeing the issue.

[2015-11-13 21:23] jeffctown commented on #164
I would love a fix for this.

[2015-12-12 00:59] frankus commented on #164
The 2.1.0 release incorporates the upgrade dialog into a storyboard file, so you should no longer see these warnings using 2.1.0.

[2015-12-12 00:59] #164 closed

[2015-12-12 01:06] frankus commented on #144
We are now using a single storyboard file for all UI in the Apptentive SDK, which the exception of alert views/alert controllers (which can't be set up in storyboards) and the survey UI (which will be updated in a forthcoming release).

[2015-12-12 01:06] #144 closed

[2015-12-12 01:07] frankus commented on #162
This is fixed in 2.0 and later SDKs.

[2015-12-12 01:07] #162 closed

[2016-01-09 18:35] mmvlad commented on #154
Did you fix it?

[2016-01-14 16:11] mackuba opened #166 "https warning when opening message center"
Hi,

I'm getting warnings like this when I open the message center:

Looks like this is the app icon taken from the App Store page - any chance that can be loaded through https?

[2016-01-14 19:03] frankus commented on #154
@mmvlad Are you seeing a problem along these lines with the Apptentive SDK?

[2016-01-14 20:49] mmvlad commented on #154
I was getting this error when building my Unity project for iOS simulator. May be that was a reason. Didn't get a chance to test the same project on real device for now.
[code]

[2016-01-14 21:05] frankus commented on #154
Unity isn't something we currently officially support, so we haven't tested integrating via CocoaPods in a Unity project.

Have you used other pods successfully? If not, I would suggest trying a source-level integration, as described here: http://www.apptentive.com/docs/ios/setup/xcode/.

[2016-01-14 21:12] frankus commented on #154
You may also find this useful: https://groups.google.com/d/msg/cocoapods/6S0qbXKAbaw/q8jTWNA34mgJ

[2016-01-15 02:15] frankus commented on #134
These have been updated to the newest formats (e.g. NSGregorianCalendar -> NSCalendarGregorian, NS<time periond>CalendarUnit -> NSCalendarUnit<time period>).

[2016-01-15 02:15] #134 closed

[2016-01-15 02:17] frankus commented on #166
I will check with our platform team to see if this is a change we can make on the server. An workaround would be to upload your app icon image to the Apptentive dashboard, which will load it over https.

[2016-01-19 02:46] joshbax opened #167 "Add shared framework scheme / Carthage support"
Request for adding a target to build as a dynamic framework so we can easily integrate apptentive into swift projects

[2016-01-19 20:00] frankus commented on #167
Thanks for the request :)

We will definitely do this by the time we drop iOS 7 support (sometime in Q3 of this year), and we'll consider providing an option for this sooner if we can.

[2016-02-03 23:48] Sudopanda opened #168 "[Simulator] Apptentive 2.1 Crash "NSManagedObjectContext error" in "ATDataManager setupAndVerify""
<img width="383" alt="screen shot 2016-02-03 at 3 44 04 pm" src="https://cloud.githubusercontent.com/assets/17055551/12800866/08dcf6da-ca8d-11e5-9ea4-2eccfa6ab6dd.png">

Using the latest release from https://github.com/apptentive/apptentive-ios/releases
apptentive_ios_sdk-2.1.1.tar.gz

After upgrading from 2.0.5 we encounter this crash on startup every time only in the simulator. We are forced to

[2016-02-03 23:59] frankus commented on #168
Is this an upgrade scenario or a clean install? (obviously it should work both ways, but that will help me narrow it down).

If it's an upgrade, would you be able to send me the contents of the com.apptentive.feedback directory (in your app's Application Support directory)?

[2016-02-04 18:12] Sudopanda commented on #168
Simple upgrade where I replaced the 3 files ATConnect.h, libApptentiveConnect.a and ApptentiveResources.bundle from the zip one for one. I also tried a clean install with the same result.

Contents of com.apptentive.feedback
ATDataManagerUpgradeCanary
ATDataModel.sqlite
[com.apptentive.feedback.zip](https://github.com/apptentive/apptentive-ios/files/117966/com.apptentive.feedback.zip)

[2016-02-05 19:00] frankus commented on #168
Is there a particular iOS version this is happening on? Device or Simulator (or both)? Thanks for your help so far in tracking this down :)

[2016-02-05 19:06] Sudopanda commented on #168
Simulator Online
Tested 9.2 and 8.4

[2016-02-05 20:40] frankus commented on #168
I'm able to reproduce this symptom by using an older version of ApptentiveResources.bundle with the newest libApptentiveConnect.a file. Is there any chance that a stale version of the bundle is ending up on your simulator?

[2016-02-05 23:44] Sudopanda commented on #168
So I had already tried a clean build and also tried resetting contents on the device none of that work.
After your comment I decided to go in an not only clear all the derived data but manually delete any other previous instances and builds.

This appears to have finally done the trick. Thank you for your comment :)

[2016-02-05 23:44] #168 closed

[2016-02-05 23:54] frankus commented on #168
Happy to help!

[2016-02-06 01:16] frankus commented on #167
If CocoaPods is an option for you, we now set a module name that removes the need for a bridging header. Instead you just `import Apptentive` at the top level of any files where you need it.

[2016-02-07 01:15] joshbax commented on #167
Thanks,
I am still using Cocoapods with the frameworks option, but hoping to eventually migrate away from it. It's not a huge priority; I put in in the request so it can be tracked.
I haven't tried, but it's probably straight forward enough to fork and create a shared framework targeting iOS8? Maybe I'll do that if I get really anxious.

[2016-02-09 22:08] frankus commented on #167
I just pushed an experimental branch that does this ("framework"). It's not something we can support just yet, but feel free to take a look and, as always, PRs are welcome.

[2016-02-10 01:26] joshbax commented on #167
:+1:

Thanks for the quick turn around. I'll try it out next week.

[2016-02-20 02:00] joshbax commented on #167
Loaded up the framework branch without a problem, haven't tested everything but so far it's working as normal.

[2016-03-23 21:40] Sudopanda opened #170 "Embedded file paths in appetitive lib."
Hi
We recently made some changes to our build configurations from DWARF to dSYM which generated some warnings which we believe stem from third party libraries.

Example of warning
warning: /var/folders/dr/l7mlbx6s1wb061grlnkgpykr0000gn/C/org.llvm.clang.frank/ModuleCache/2H28LYPN5S6B1/UIKit-1V5UHAPTOD24G.pcm: No such file or directory

After digging around online I believe this is because the /var/

[2016-03-23 23:31] frankus commented on #170
We set CLANG modules to be disabled in the Apptentive SDK in version 2.1.3 in an effort to remove these warnings. This should not affect the integration process at all.

If you have a minute, try updating to 2.1.3 and let us know if our fix worked. Thanks!

[2016-03-29 22:07] Sudopanda commented on #170
Still same issue in 2.1.3

libApptentiveConnect.a(ATPassThroughWindow.o):
warning: /var/folders/dr/l7mlbx6s1wb061grlnkgpykr0000gn/C/com.apple.DeveloperTools/7.2-7C68/Xcode/SharedPrecompiledHeaders/ApptentiveConnect-Prefix-adhcrrsmujlxhdghyrotjjqledut/ApptentiveConnect-Prefix.pch.pch: No such file or directory

[2016-04-12 20:42] android1989 commented on #49
+1

[2016-04-12 21:51] android1989 opened #171 "Mechanic for forcing a rating prompt to show."
We currently have a button in our settings which we want to force the rating prompt, but their isn't an explicit call to do so.

Is there a proper workaround for this issue?

[2016-04-13 17:50] jlyonsmith opened #172 "Apptentive build broken in Cocoapods 1.0.0-beta6"
Not sure if this is an Apptentive SDK issue or a Cocoapods issue but wanted to give you heads up so you can investigate.  Tried upgrading to Cocoapods 1.0.0-beta6 today and everything worked fine except for the trying to copy the ApptentiveResources.bundle.  I got an error saying that the bundle could not be found.  I noticed in the `apptentive-ios-ApptentiveResources` target that the _Per-configu

[2016-04-14 12:56] levend commented on #49
@frankus is this still an issue? Our team consider integrating Apptentive, but we need multiuser support, or at least able to clear the sessions.

[2016-04-14 17:27] frankus commented on #49
This is on our roadmap, but currently and in the immediate future we don't have a solution in place for multiple accounts or clearing sessions.

[2016-04-17 18:40] hamdan commented on #172
Same issue any solution?

[2016-04-18 17:49] frankus commented on #172
We'll be including a fix in our next release.

[2016-04-18 21:55] frankus commented on #172
Update: CocoaPods 1.0.0 beta 8 includes a fix for this issue. Please update CocoaPods and give it another try.

[2016-04-18 21:55] #172 closed

[2016-04-26 19:32] frankus commented on #171
We don't have public API to show the ratings prompt, but you could use the `-openAppStore` method directly (which opens the app store to the review page of your app) and use a title for your button that indicates that the user will be taken straight to the app store to rate your app.

[2016-04-26 19:33] frankus commented on #142
Closing due to lack of activity.

[2016-04-26 19:33] #142 closed

[2016-04-26 19:34] #171 closed

[2016-05-06 07:57] tigerline opened #173 "Sending message fails with "Bad Request""
Xcode 7.3
Simulator iPhone 6 / iOS 9.3
Apptentive iOS SDK 3.0, API Key of a freshly created dummy app

Steps:
- Install and run app in simulator for first time
- Open message center with `presentMessageCenterFromViewController:`
- Type "hello" in message field
- Press Send
- Sending message fails 👎

Console output:

2016-05-06 09:52:33.074 Tigerline[6907:979793] [info] ApptentiveAPIRequest failed:

[2016-05-11 17:28] tigerline opened #175 "Cannot open message center after upgrade from SDK 1.7 => 3.0"
Xcode 7.3
iPhone 6 Plus / iOS 9.3.1
My old app Version: Apptentive iOS SDK 1.7
My new app Version: Apptentive iOS SDK 3.0

Steps:
- Install and launch old app version (currently live, from App Store)
- Update with new app version (debug version via Xcode)
- Launch new app, wait 20 sec
- Console shows "[error] Activity feed result is not NSDictionary!"
- Open message center => **Error** "We’re atte

[2016-05-11 18:34] frankus commented on #175
There's definitely a bug, in that the "[error] Activity feed result is not NSDictionary!" should not be displayed (it's a normal consequence of a PUT request to the endpoint that notifies us that the app and/or SDK has been updated, which returns 204 and an empty response rather than JSON). We will get this fixed in the next release.

That message should be followed closely by "Received remote Int

[2016-05-17 08:33] mAu888 commented on #167
Carthage support is working for us. Except that pinning to a branch sometimes leads to endless fetching the Apptentive framework when running `carthage update`. There are already some issues filed showing similar behaviour in Carthage (see Carthage/Carthage#733 for example). So any chance this is being integrated soon?

[2016-05-19 22:44] joshbax commented on #167
@mAu888 I haven't tried this yet, but I believe you can do `carthage archive` on your apptentive fork and and then attach the archive to a custom apptentive "release". Make sure to point carthage to your custom release, and then carthage should use that binary instead of going through a fetch/build cycle each time you update.

[2016-05-21 21:54] Dipakvyawahare opened #176 "Bitcode not enabled for sdk-2.1.3, is this issue fixed in 3.0.0?"
Hello,

Which version is bit code enabled?
libApptentiveConnect.a(ATPassThroughWindow.o)' was built without full bitcode. All object files and libraries for bitcode must be generated from Xcode Archive or Install build for architecture armv7

Thanks

[2016-05-31 19:04] sohos commented on #175
Same error here
iPhone 6, iOS 9.3.1, Apptentive SDK 2.1.3
But on iPhone 5, iOS 9.3.1, Apptentive SDK 2.1.3 working
Both devices are with the same app version from App store
Updated apptentive SDK to 3.0.0, same situation
It stopped to work on iPhone 6 around month ago

[2016-05-31 21:08] frankus commented on #173
Is this still occurring? We changed our JSON decoding on the server in a way that made some invalid assumptions (which should now be corrected).

[2016-06-08 23:35] #176 closed

[2016-06-08 23:48] frankus commented on #173
Closing for now. Please reopen if you see this again.

[2016-06-08 23:48] #173 closed

[2016-06-12 08:59] Dipakvyawahare commented on #176
Thanks

[2016-06-13 19:20] CestLou commented on #176
👍

[2016-06-15 13:32] sandor-gazdag commented on #49
@frankus can you please give us an estimate about when can we expect this issue to be resolved?

[2016-06-20 22:29] aquigriffin opened #178 "Breaking Constraints"
Debug Console is giving the following warning when displaying MessageCenter:

**Unable to simultaneously satisfy constraints.
	Probably at least one of the constraints in the following list is one you don't want.
	Try this:
		(1) look at each constraint and try to figure out which you don't expect;
		(2) find the code that added the unwanted constraint or constraints and fix it.
	(Note: If you're

[2016-06-20 22:32] frankus commented on #178
Please try it with 3.1.0. Among the other changes we included a fix for that problem. Thanks!

[2016-06-22 17:15] aquigriffin commented on #178
Thanks.

[2016-06-22 17:15] #178 closed

[2016-06-23 18:06] frankus commented on #170
Have you been able to try this with the latest SDK release (https://github.com/apptentive/apptentive-ios/releases/tag/v3.1.1)? We made some changes to support bitcode that seem to have also fixed the warnings when integrating via static library.

I've tested this on a separate user account, but haven't had a chance to try it on a different machine.

[2016-06-27 23:23] ShotJP opened #179 "Localization Updates"
Any chance you guys have plans to update the default localized text for the message center? Specifically the items in the text box don't appear to be translated currently (i.e. "New Message", "Please leave detailed feedback", "Send")

[2016-07-05 17:40] aquigriffin opened #180 "iOS 10 Warnings - awakeFromNib"
Ensure [super awakeFromNib] is being called for iOS10.
https://udid.co/iOS_10_beta_Release_Notes.pdf

[2016-07-05 18:09] frankus commented on #180
Thanks for the report!

We have a fix for this ready for our next release. I'll circle back when that happens.

[2016-07-07 16:51] aquigriffin commented on #180
Thanks @frankus for the quick response.

[2016-07-08 23:35] frankus commented on #180
This should be fixed in 3.2.

[2016-07-08 23:35] #180 closed

[2016-07-15 17:44] Sudopanda commented on #170
Yes we have updated to the latest SDK 3.2 and it has cleared all our error and warnings.

Thanks

[2016-07-15 17:44] #170 closed

[2016-07-25 23:37] frankus commented on #49
We're working on an initial version of this currently, and I'll update this issue as we get closer to release.

[2016-08-10 05:27] frankus commented on #175
After some more investigation, it looks like this is a problem on our server. There are multiple API requests made at startup and this upgrade exposed a race condition in one of them.

We have a patch live that should address this on our server. If you're still seeing the issue, please let us know/reopen the issue.

[2016-08-10 05:27] #175 closed

[2016-08-10 05:28] frankus commented on #179
Thanks for the report. As of 3.2.0 this should be fixed. Please reopen/let me know if you find otherwise.

[2016-08-10 05:28] #179 closed

[2016-08-23 07:02] Leomax004 commented on #154
Anyone facing such kind of Error:
Unable to load class named 'ATEvent' for entity 'ATEvent

[2016-08-23 16:13] frankus commented on #154
Which SDK version is this? Does it still occur on the latest (3.2.1)?

[2016-08-23 17:42] Leomax004 commented on #154
yeah it's latest but now i solved by cleaning the code.

[2016-09-13 16:21] plarson opened #181 "APIKey renamed to apiKey in Swift 3"
Is there no way to set the APIKey value when using Swift 3?

[2016-09-13 16:25] frankus commented on #181
We'll have a release out in the next couple of days that addresses this.

In the meantime you can edit Apptentive.h and add the NS_SWIFT_UNAVAILABLE to the lowercase `apiKey` property.

[2016-09-16 00:58] frankus commented on #181
This should be fixed in the 3.3.0 release. Please reopen if you run into problems. Thanks!

[2016-09-16 00:58] #181 closed

[2016-09-17 02:50] aaronbrethorst opened #182 "OneBusAway crashing upon setting API key w/ SDK 3.3.0"
Branch is here: https://github.com/aaronbrethorst/onebusaway-iphone/tree/fix-725

Hopefully I just missed something silly :)

fwiw, I saw this in the last version, too.

[2016-09-17 04:03] frankus commented on #182
It's not picking up a (any?) category from the Apptentive project. You can fix it by adding -ObjC to the Other Linker Flags build setting.

[2016-09-17 04:03] #182 closed

[2016-09-17 04:09] aaronbrethorst commented on #182
party like it's 2010, thanks :)

[2016-09-17 11:32] mayur43s opened #183 "Error in engaging events"
When I'm trying to engage an event by using the following code:
`[[Apptentive sharedConnection] engage:@"got_RSVP" fromViewController:self];` from an viewController and here are the logs printed on console:

2016-09-17 16:54:26.638 [info] Engage Apptentive event: local#app#got_RSVP

Just below this there's another log saying:

2016-09-17 16:54:26.651 [info] Interaction NUMERIC_ID predicate failed

[2016-09-19 17:14] frankus commented on #183
The "failed evaluation" is the normal behavior when either a "Who"(segmentation) requirement isn't being met, or one of the timing settings (like the "wait N days before showing") isn't being met (although admittedly it's a poorly-worded log message).

Unfortunately we currently don't have a way to get more transparency into exactly which isn't being met.

Most commonly you'll see that message bec

[2016-09-21 09:57] Taarna opened #184 "Error: couldn't read cache file to update store info timestamps"
Hello,

We started receiving this error message ever since we updated to Xcode 8. We're using Swift 2.3 and Apptentive SDK 3.3.0.

I searched Apptentive project and found a cache named @"at-unread-messages-cache" in ApptentiveBackend.m and ApptentiveMessageCenterDataSource.m.
Our app uses CoreData, but none of our NSFetchResultsControllers are using cache. Other libraries in the app are not using

[2016-09-21 16:31] frankus commented on #184
Thanks for the detailed report.

We will be removing the cache file specifier for the unread count fetched results controller. For Message Center's section info cache, we'll be removing it for iOS 9 and 10, which seem to have a bug related to the file.

[2016-09-30 06:56] mAu888 commented on #167
Ended up forking and putting a custom version on it. Anyways, any chance this feature will make it at some point @frankus?

[2016-10-07 11:00] AjeetSharma331 opened #185 "Crash in connection:didFailWithError: mthod"
We are facing one crash in [ApptentiveURLConnection connection:didFailWithError:] method as per crash report.
The method looks like - (void)connection:(NSURLConnection *)aConnection didFailWithError:(NSError *)error which is in Apptentive class in code.
We are not able to reproduce at our end. But crash was found at production end.
The os version was iOS 10.x where the crash is happening.

[2016-10-07 17:08] frankus commented on #185
I'm taking a look at this currently. Could you let me know in which version of the SDK (tag or git SHA) the crash is happening?

[2016-10-07 17:32] frankus commented on #167
The v3.3.1 branch (currently a prerelease) adds a framework scheme for Carthage.

Feedback is greatly appreciated!

[2016-10-10 06:14] AjeetSharma331 commented on #185
The Apptentive SDK version is “v3.0.0”(28a73df).
Let me know if you have any other query.

[2016-10-10 16:24] frankus commented on #185
Do you have any additional information on the crash you could send my way? I'm not seeing any smoking guns in the code for that method.

[2016-10-12 05:35] AjeetSharma331 commented on #185
The crash report looks like:
0   **ApplicationName                	0x0000000100204ff8 ApptentiveLocalizedString + 0**
1   Foundation                    	0x000000018e2dcb5c -[NSObject(NSThreadPerformAdditions) performSelector:onThread:withObject:waitUntilDone:modes:] + 984
2   Foundation                    	0x000000018e2e0acc -[NSObject(NSThreadPerformAdditions) performSelectorOnMainThread:withObje

[2016-10-17 18:48] frankus commented on #185
It's hard to know since I wasn't able to reproduce the crash, but this may be related to accessing NSBundle methods from the wrong thread.

Out of an abundance of caution, and because it's not really necessary, I will be removing the localization of the error messages (which aren't user-visible anyway) from a future release.

Thanks for the report.

[2016-10-18 21:25] bejar37 opened #186 "NSPhotoLibraryUsageDescription required in iOS10?"
Hi, I'm using version 3.0.0 of your SDK, and submitting for the first time using Xcode 8. I got an invalid binary email from Apple stating:

`This app attempts to access privacy-sensitive data without a usage description. The app's Info.plist must contain an NSPhotoLibraryUsageDescription key with a string value explaining to the user how the app uses this data.`

It seems like apptentive is refer

[2016-10-18 21:35] frankus commented on #186
While you can choose whether or not to use Message Center (including its image attachment feature), we currently don't have a straightforward way of excluding that capability from your app's binary.

We suggest including a string such as "This allows attaching images to messages." for the usage description. It will only be shown to users if and when they tap the attach (paperclip) button in messag

[2016-10-24 07:29] azeemse commented on #184
Hello @frankus

I just downloaded the SDK and integrated in my game. I need to show the **Ratings Prompt**. My project is developed in Swift and I am using Xcode 8 with iOS 10 for my device iPhone 6s Plus.

I am still getting the above mentioned issue. The log is as same as @Taarna  has mentioned in his report.

When I call

`[[Apptentive sharedConnection] engage:@"completed_level" fromViewControl

[2016-10-24 14:38] brianminor commented on #184
Any info on when this will be removed it's quite annoying with my logs?

[2016-10-26 17:02] bejar37 commented on #186
OK, thanks!

[2016-10-26 17:02] #186 closed

[2016-11-08 01:24] frankus commented on #185
The latest release (3.3.2) includes a fix for this.

[2016-11-08 01:24] #185 closed

[2016-11-08 01:24] frankus commented on #184
The latest release (3.3.2) includes a fix for this.

[2016-11-08 01:24] #184 closed

[2016-11-08 01:25] frankus commented on #167
This is now in the official release of 3.3.2. Please let me know if you find any issues with it.

[2016-11-08 01:25] #167 closed

[2016-11-08 01:26] frankus commented on #166
I think we have this solved server-side, by rehosting the images in question behind compliant SSL.

[2016-11-08 01:26] #166 closed

[2016-11-08 01:26] #183 closed

[2016-11-15 11:53] Rommanski opened #187 "App doesn't receive notification: ApptentiveMessageCenterUnreadCountChangedNotification"
Hello, I have registered for notification with:

[code]

And method:

[code]

App receives notification when user opens app or user opens messenger center only. Otherwise notification doesn't arrive. Don't have any idea.

[2016-11-15 16:47] frankus commented on #187
When the user is not in Message Center, the interval at which the SDK checks for new messages is five minutes (the SDK polls more frequently when Message Center is in the foreground), and we don't do any polling at all when your app is in the background.

The best way to eliminate that latency is to enable push notifications, as described [here](https://learn.apptentive.com/knowledge-base/apptenti

[2016-11-15 16:47] #187 closed

[2016-11-15 18:52] Rommanski commented on #187
Thank you @frankus for help!

[2016-11-16 19:52] cromandini opened #189 "After updating to version 3.3.2 Cocoapod is failing"
I'm using apptentive-ios via Cocoapods. Previously was using version 3.3.0 with any issues but after a pod update (library updated to version 3.3.2) now I have this failure:

<img width="973" alt="screen shot 2016-11-16 at 16 46 42" src="https://cloud.githubusercontent.com/assets/1238813/20362996/4f230636-ac1c-11e6-8858-550ef7cbd7a0.png">

What can be wrong, is there any additional setting I could

[2016-11-16 20:02] cromandini commented on #189
Guys, if I change that import back to `#import "Apptentive.h"` (as it was in the previous version) the issue is fixed.

[2016-11-16 20:11] frankus commented on #189
With our transition to building dynamic frameworks (for e.g. Carthage support), this bug slipped in.

If you're able to use the `use_frameworks!` directive in your podfile, that will avoid this issue. Otherwise you may have to make the change you mentioned manually until we release our next version.

[2016-11-17 13:00] app-buzz opened #190 "Close button shows ... or is blank"
I am implementing Version 3.2.1 via cocoapods into our IOS Apps.

when i use:

`[[Apptentive sharedConnection] presentMessageCenterFromViewController:self];`

The Message Center is shown modally. However the close button shows ... or is blank after clicking the Info button. This is when running on the IOS SImulator 9.3 and 10

![screen shot 2016-11-17 at 12 59 12](https://cloud.githubusercontent.c

[2016-11-17 14:41] #190 closed

[2017-01-30 17:55] #189 closed

[2017-03-28 16:57] radelcom opened #191 "using static lib does not work [don't use "use_frameworks" flag in cocoapod]"
I was investigating of integrating Apptentive to our application. Our project uses Cocoapods for 3rd party libraries and do not use `use_frameworks` flag.  Looks like Apptentive doesn't work with this and give error that the static library is not found.

Judging from the error and looking at the Pods, it seems like `libapptentive-ios.a` fails to compile.
![screen shot 2017-03-28 at 9 55 45 am](htt

[2017-03-28 17:00] frankus commented on #191
You'll need to use a workaround if you aren't able to use the `use_frameworks!` directive, in the form of a post-install hook in your podfile:

[code]

[2017-03-28 17:17] radelcom commented on #191
@frankus tx, the workaround seems to work. Is there a plan to address this in the future so we dont need to have this workaround?

[2017-03-28 17:25] frankus commented on #191
The need for the workaround was a result of adding both static library and framework targets to the project. In the next major version we will remove support for the standalone static library target (although CocoaPods will still be able to build a static library) which should fix this.

[2017-03-28 17:27] #191 closed

[2017-05-11 07:40] Ramanamurty opened #192 "Cannot able to change back button in ApptentiveSurveyViewController"
Hi, I can able to access ApptentiveSurveyViewController in my application in older version of apptentive and change the back button image. But with latest version I cannnot able to access ApptentiveSurveyViewController in my app. Can someone please tell me how can I change the back button image in latest version

[2017-05-11 17:16] frankus commented on #192
We don't expose the ApptentiveSurveyViewController header file publicly, but you might be able to add it to your header search paths. This would depend on your method of integration (CocoaPods/Carthage/Subproject).

I should also mention that the navigation controller subclass used for Apptentive's UI (ApptentiveNavigationController) is exposed in the public headers. For UIAppearance targeting, th

[2017-06-03 06:47] technoDev09 opened #193 "Push notification not working"
I have set up apptentive push and set up push notification using
[https://github.com/apptentive/apptentive-documentation/blob/master/using_apptentive/ios/integration.md](this) ,but can not get notification.
Any help will be great..!

[2017-06-03 07:32] #193 closed

[2017-07-21 18:46] frankus commented on #49
The latest version of the SDK allows you to isolate multiple users from one another. Please let us know if this fixes the issue for you.

[2017-08-01 23:36] matheda opened #194 "App hangs when coming to foreground"
I updated our app to the version 4.0.1 SDK today and it now hangs when coming back to the foreground.  If I pause execution it is stuck in this method...

`- (BOOL)engageCodePoint:(NSString *)codePoint fromInteraction:(ApptentiveInteraction *)fromInteraction userInfo:(NSDictionary *)userInfo customData:(NSDictionary *)customData extendedData:(NSArray *)extendedData fromViewController:(UIViewContro

[2017-08-02 00:24] frankus commented on #194
Thanks for reporting this.

The 4.0 version introduced some major architectural changes to the SDK. We haven't seen this specific issue in testing, so I was hoping I could get a bit more information from you.

From looking at the code and your report it seems like we might have a deadlock on the conversation object. Can you verify if removing the @synchronized block resolves the issue?

[2017-08-02 00:35] wooster commented on #194
@matheda Also… when you do get the hang, could you run `thread backtrace all
` in lldb and send the output to frank@apptentive.com and andrew@apptentive.com? It would be good to know which two threads are trying to take a lock on the conversation.

[2017-08-02 13:20] matheda commented on #194
Thank you for following up so quickly!

I removed the @sychronized wrapper around the two calls to the conversation object and that fixed the deadlock.

Here is the backtrace when the deadlock occurs:

* thread #1, queue = 'com.apple.main-thread', stop reason = signal SIGSTOP
    frame #0: 0x000000018a460e64 libsystem_kernel.dylib`__psynch_mutexwait + 8
    frame #1: 0x000000018a52cb8c libsystem_p

[2017-08-02 17:58] frankus commented on #194
Our hunch is that the CoreTelephony framework that we use to allow you to target by carrier is posting a notification on the main thread, which is causing the deadlock.

We'll release a fix on a branch for you to try out, and if it's successful push out a 4.0.2 release ASAP.

[2017-08-02 23:12] frankus commented on #194
I've pushed a branch called [fix-deadlock](https://github.com/apptentive/apptentive-ios/tree/fix-deadlock) that hopefully does just that.

If you're using CocoaPods you should be able to specify the branch like so:

[code]

Let me know if this fixes this issue and whether you run into any other problems. Thanks again for the detailed report and followup!

[2017-08-03 17:09] matheda commented on #194
Looks like that fixed it!  I installed the updated SDK using CocoaPods as described above and then tried to reproduce the problem several different ways and was not able to.  Thanks for the quick fix, I will be on the lookout for the new version.

[2017-08-03 18:38] frankus commented on #194
[Version 4.0.2](https://github.com/apptentive/apptentive-ios/releases/tag/v4.0.2) is now live, so you can change back your podfile. I'll close this for now but feel free to contact us if you run into any problems with this fix.

[2017-08-03 18:38] #194 closed

[2017-08-09 17:03] matheda opened #195 "Crash in iOS SDK"
The latest version of our iOS app is using version 4.0.2 of the Apptentive SDK.  We are starting to see a good number of crashes that appear to be originating from a JSON serialization error in the SDK (see below).  Please let me know if any additional information would be helpful. Thanks!

[code]

[2017-08-09 17:32] frankus commented on #195
Thanks for the detailed report! We're taking a look at this now.

Is this an occasional thing you're seeing from a crash reporting solution, or is it reproducible? If it's practical it would be helpful to have some information about the requests that are failing to decode.

[2017-08-09 18:08] matheda commented on #195
We are seeing the crash in Firebase Crash Reporting, I am not able to reproduce it myself unfortunately.  The crash has occurred 66 total times in the past couple of days, all for unique users.  Based on the additional logging in the crash (see attached), it looks like the last call to engage might have been a simple string value ("Trail_Details_View") with no custom data.  Its hard to tell for ce

[2017-08-14 18:39] ignazioc opened #196 "Deadlock on iOS 4.0.1"
Hi, I'm using the version `4.0.1` of this library and I experience a lot of deadlock when the application comes back from the background.

I already noticed the release note of the release `4.0.2` but I'm still posting this issue because my crashlog points to a line of code that still there on `master`.

In particularly my crashlog point to this line:

https://github.com/apptentive/apptentive-ios/

[2017-08-15 15:53] frankus commented on #196
That FIXME comment is no longer valid and should have been removed. I will make sure we do so in the next release.

We tracked the deadlock down to a method in the CoreTelephony framework that sent a notification on the main thread which was blocked by the `@synchronized` block.

[2017-08-15 15:53] #196 closed

[2017-08-16 13:12] matheda commented on #195
Hi, I wanted to check on the status of this issue.  This is our #1 crash at the moment (600+ instances).  We will be publishing a new version of our app this week and I would love to include a fix for this if it is available.

I took a look at the ApptentiveRequestOperation class and it looks like the SDK is getting an un-parseable response back from the server.  I would like to suggest wrapping t

[2017-08-16 14:08] matheda opened #197 "Crash in ApptentivePayloadSender deleteCompletedOrFailedRequest:"
We are seeing a crash in our app that appears to be originating from the ApptentivePayloadSender deleteCompletedOrFailedRequest: method.  It is not in the stack trace for the crash itself, but in going through 20 instances of this crash (out of 275+), the only non-system code that is executing is this method.  See attached images for the stack traces.  Unfortunately Firebase doesn't give me a good

[2017-08-16 16:10] #192 closed

[2017-08-16 16:12] frankus commented on #195
Sorry for not updating this earlier. We released a fix for this as part of our 4.0.3 release last Friday: https://github.com/apptentive/apptentive-ios/releases/tag/v4.0.3

[2017-08-16 16:12] #195 closed

[2017-08-16 16:12] frankus commented on #49
Please take a look at our new customer authentication API in version 4.0.

[2017-08-16 16:12] #49 closed

[2017-08-16 16:12] #86 closed

[2017-08-16 17:04] frankus commented on #197
I'm sorry that you're running into all of the teething problems with our new architecture (we've rearchitected the networking code, which is why this is present in 4.0.x but not 3.x). And thanks again for being forthcoming with your crash reports.

I've been looking at the code and don't yet see a smoking gun, but I'll continue to investigate and keep you updated with what I find.

[2017-08-16 21:35] frankus commented on #197
As far as we can tell, the issue is due to a block sometimes being released while it's being executed, because the object that owns the block (in this case, a managed object context) is getting released.

Any time the app exits, it would set up the preconditions for this to occur. I've push a fix to a branch (https://github.com/apptentive/apptentive-ios/tree/v4.0.4-pre) that you can try out.

The

[2017-08-17 16:46] matheda commented on #197
No problem, and we really appreciate how responsive you have been when we report an issue!  I just tried the updated SDK and did not have any issues.  I was not able to reproduce the crash before the fix, so I don't know if it has resolved the issue or not, but it seems stable in the small amount of testing I have done.

[2017-08-28 20:59] matheda commented on #197
I wanted to follow up and see when this fix might be released.  We are continuing to see a large number of these crashes.  Thanks!

[2017-08-28 21:01] matheda commented on #197
Also, I would like to clarify something you mentioned above...

By that do you mean the app going into the background?  We have received a number of reports of the app shutting down when backgrounded and I wanted to see if this was the cause.

[2017-08-28 22:10] frankus commented on #197
Yes, that is what I mean.

[2017-08-28 23:22] frankus commented on #197
We just released version 4.0.4 that should address this crash.

[2017-08-28 23:25] matheda commented on #197
That's great news, thank you!

[2017-08-29 20:27] weiguo102 opened #198 "Apptentive is causing app to take too long to launch or respond to system events, causing iOS system to kill the app"
To repro,
Launch an app that has Apptentive 4.0.2 or 4.0.3.
Navigate to any other screen inside the app other than its starting screen.
Background the app for 5 minutes.
Foreground app, and the app crashes and is restarted.

Our app previously had Apptentive 3.2.0 and this was not an issue. After upgrading to 4.0.2 with nothing else changed, this problem started to occur. With the latest 4.0.3, th

[2017-08-29 20:52] frankus commented on #198
Thank you for the detailed report.

We did just release a new patch (v4.0.4) that may address this issue (there can sometimes be an uncaught exception at startup). Could you try updating to the latest release and see if the issue still occurs?

[2017-08-29 23:00] weiguo102 commented on #198
4.0.4 does not fix the problem. You could have easily followed my repro steps on your side in house in the first place instead of waiting for me to test it out and give you the nay result.

[2017-08-29 23:16] frankus commented on #198
I tried your repro steps in our test/development app and I wasn't able to trigger the issue, either while leaving the device idle for 5 minutes and while using other (memory-intensive) apps for five minutes.

We did change quite a bit of the architecture between 3.x and 4.0, so it's quite possible that you've uncovered something that our dev app isn't able to replicate.

Would you be able to provi

[2017-08-29 23:21] weiguo102 commented on #198
Below the stack trace of the crash after backgrounding the app for 5 min and then foregrounding. It is consistently reproducible with 4.0.x Apptentive and once downgrade to 3.2.0, the crash disappears.

Incident Identifier: 3B66C7E7-D416-450E-B36D-E87D9C74828E
CrashReporter Key:   8ce9551189e46a25bdbef84863acd6e61f7bcffa
Hardware Model:      iPhone9,3
Process:             OUInternal [5917]
Path:

[2017-08-30 00:48] frankus commented on #198
I apologize in advance but I'm probably going to need some additional information to get to the bottom of this.

1. Are there any user-visible symptoms, such as the app freezing or hanging?
2. `0x8badf00d` can mean that the app took too long to exit or too long to resume. Based on the crash timestamps, is it possible to determine which is the case?
3. When the app is in the process of exiting and/

[2017-08-30 18:23] weiguo102 commented on #198
1. Symptom: user runs the app, navigates some screen, backgrounds the app for 5 min, foregrounds the app expecting to land on the same screen when he backgrounded app, the actual result is that app restarts due to crash and land on the first screen
2. This is really hard to definitively tell, but I think it takes too long to resume.
3. When app is foregrounded, our app calls +[Apptentive engage:fr

[2017-08-30 21:17] frankus commented on #198
It looks like there might be an issue with a background task handler in the SDK, which could cause the system to crash the app after it exits.

I'll keep you updated as I work toward a fix. Once I have something that I think will work, I will push it to a branch and hopefully that will let you confirm that it's fixed before we release a patch.

Thanks for all the help in tracking this down!

[2017-08-31 00:16] frankus commented on #198
I've pushed a new branch called `background-fix`. Would you be able to verify that this branch fixes the issue in your app?

I was able to reproduce the issue locally and the changes in this branch fixed it, so I'm hopeful it will work for you as well.

If everything looks good we will release a patch that includes this fix in the near future.

[2017-08-31 18:14] weiguo102 commented on #198
We tried the branch on our side, looks like it fixes the issue!

[2017-09-03 10:46] matheda commented on #197
Unfortunately 4.0.4 didn't eliminate the issue.  We are still seeing this crash, although it has a slightly different stack trace now:

![screen shot 2017-09-03 at 6 43 23 am](https://user-images.githubusercontent.com/1895008/30002278-7e613fbc-9073-11e7-9a1e-70772542c17c.png)

[2017-09-05 00:57] matheda opened #199 "Crash related to WebKit::ProcessThrottler::updateAssertion()"
Sorry to drop another odd crash on you.  We are starting to see a non-trivial number of crashes with the following stack trace:

![screen shot 2017-09-04 at 8 40 27 pm](https://user-images.githubusercontent.com/1895008/30040867-b706f600-91b2-11e7-993c-f9de97105114.png)

I have gone through a couple of dozen of the instances, and for most of them the only non-Apple code being executed on any thread

[2017-09-05 01:01] matheda commented on #199
One more data point: we are only seeing this crash in the version of our app that is using the 4.0.4 SDK.

[2017-09-05 17:58] frankus commented on #199
We had another customer report a similar issue. It has to do with a background task that, due to a code bug, results in the background task completion handler not getting called. So the system ends up killing the app after a period of time (https://github.com/apptentive/apptentive-ios/issues/198).

I believe the two are related.

[2017-09-05 18:04] frankus commented on #197
I think this could be related to https://github.com/apptentive/apptentive-ios/issues/198. There is a significant bug in the way that we handle app exit in this part of the code.

It would be manifested as the managed object context being released before it should and the background task completion handler not getting called, causing the system to kill the app.

We will be releasing a patch in the

[2017-09-07 18:43] frankus commented on #199
Version 4.0.5 (just released) fixes a problem with the background task that is used to save the Core Data stack on app exit. I believe that the way the Core Data stack was previously exiting is what was causing this crash.

[2017-09-07 18:44] frankus commented on #198
Version 4.0.5 (just released) fixes a problem with the background task that is used to save the Core Data stack on app exit. The previous version did not correctly call the background task expiration handler on app exit, which led to this crash.

[2017-09-07 18:45] frankus commented on #197
Version 4.0.5 (just released) fixes a problem with the background task that is used to save the Core Data stack on app exit. It is likely that a non-clean exit of the Core Data stack is to blame for this crash, so please update and let us know if it fixes the issue.

[2017-09-11 12:43] matheda commented on #197
The latest version of our app was released on Friday and we did not see any of these crashes come in over the weekend.  This was our most frequently occurring crash so I would have expected to see it at least once if it were still an issue.  I think this can be closed, and I will write back in if it happens again.

[2017-09-11 12:47] matheda commented on #199
Unfortunately we are still seeing this crash in the latest version of our app which is using the 4.0.5 SDK:

![screen shot 2017-09-11 at 8 30 06 am](https://user-images.githubusercontent.com/1895008/30274913-5cabc936-96cd-11e7-81f9-df1a255aa4fb.png)
![screen shot 2017-09-11 at 8 30 20 am](https://user-images.githubusercontent.com/1895008/30274915-5fd6b044-96cd-11e7-9136-958ec9c8982c.png)

[2017-09-11 20:28] frankus commented on #199
I will keep investigating. Thanks for the update.

[2017-09-16 16:05] hotngui opened #200 "Crash in v4.0.3 ([ApptentiveConversationManager updateMetadataItems:])"
Our client code has not changed except to match the API changes introduced in v4.0.3, but are minor.

# Crashlytics - plaintext stacktrace downloaded by Joey Jarosz at Sat, 16 Sep 2017 16:03:01 GMT
# URL: https://fabric.io/trulia/ios/apps/com.trulia.trulia/issues/59bca85ebe077a4dccb4a628?time=last-twenty-four-hours/sessions/30d9f04525844e3a924b69dda71e483f_654964a39aeb11e784b256847afe9799_0_v2
# O

[2017-09-16 16:06] hotngui opened #201 "Crash in v4.03 ([ApptentiveBackend migrateLegacyCoreDataAndTaskQueueForConversation:conversationDirectoryPath:] )"
# Crashlytics - plaintext stacktrace downloaded by Joey Jarosz at Sat, 16 Sep 2017 16:05:57 GMT
# URL: https://fabric.io/trulia/ios/apps/com.trulia.trulia/issues/59bc7142be077a4dccb2ca97?time=last-twenty-four-hours/sessions/6666465bb19945388fc508c8df57da78_af741c129af011e7b6f656847afe9799_0_v2
# Organization: Trulia
# Platform: ios
# Application: Trulia
# Version: 10.12 (1323)
# Bundle Identifier:

[2017-09-16 21:22] wooster commented on #201
@hotngui Hmm… unfortunately the Crashlytics link doesn't work. There's a share button on each crash page on Crashlytics which can be used to get a public link. If you could paste the shareable link that button generates, that would be helpful:
<img width="103" alt="screen shot 2017-09-16 at 2 18 31 pm" src="https://user-images.githubusercontent.com/138936/30516111-36e49720-9aea-11e7-80cd-fa9d7d6d2

[2017-09-16 21:40] hotngui commented on #201
http://crashes.to/s/ccb1c374abf

[2017-09-16 21:40] hotngui commented on #200
http://crashes.to/s/357aa6849e0

[2017-09-16 22:40] wooster commented on #201
@hotngui Thanks!

@frankus Looks like v4.0.3 of Apptentive. Crashing on:

`migrationContext.parentContext = self.managedObjectContext`

with exception "Parent NSManagedObjectContext must not be nil." Possible setting up Core Data failed? The app is in focus, and there's plenty of free space.

[2017-09-16 22:52] wooster commented on #200
@frankus v4.0.3, looks like nil item is coming from `ApptentiveConversationManager.m`:

[code]

Either the `identifier` or `directoryName` is nil so item is being init'd to nil. Looks like it's fixed in v4.0.4 with additional nil check.

[2017-09-18 15:49] frankus commented on #200
@wooster: Agreed. This should be addressed in version 4.0.4 and later.

[2017-09-18 15:49] #200 closed

[2017-09-20 14:32] hotngui opened #202 "v4.0.5 Crash in -[ApptentiveBackend migrateLegacyCoreDataAndTaskQueueForConversation:conversationDirectoryPath:]"
Here is a link to the Crashlytics details: http://crashes.to/s/48a1700e30e

[2017-09-20 14:33] hotngui opened #203 "v4.0.5 Crash: ApptentivePayloadSender.m line 299"
Crashlytics report: http://crashes.to/s/11f7ddb6c0e

[2017-09-20 20:13] frankus commented on #201
This is the same issue as https://github.com/apptentive/apptentive-ios/issues/202, but with a slightly different line number due to differences between version 4.0.4 and 4.0.5.

[2017-09-20 20:13] #201 closed

[2017-09-21 18:33] frankus commented on #203
We have released a new tag that should address this issue: https://github.com/apptentive/apptentive-ios/releases/tag/v4.0.6-rc.

If you are able to reproduce this crash it would be helpful to make sure it is no longer occurring.

[2017-09-21 18:33] frankus commented on #202
We have released a new tag that should address this issue: https://github.com/apptentive/apptentive-ios/releases/tag/v4.0.6-rc.

If you are able to reproduce this crash it would be helpful to make sure it is no longer occurring.

[2017-09-21 18:33] frankus commented on #199
We have released a new tag that should address this issue: https://github.com/apptentive/apptentive-ios/releases/tag/v4.0.6-rc.

If you are able to reproduce this crash it would be helpful to make sure it is no longer occurring.

[2017-09-22 14:45] hotngui commented on #203
Unfortunately the podspec not published, so build build guy says he cannot access it in our build process.

On Sep 21, 2017, at 11:33 AM, Frank Schmitt <notifications@github.com<mailto:notifications@github.com>> wrote:

We have released a new tag that should address this issue: https://github.com/apptentive/apptentive-ios/releases/tag/v4.0.6-rc.

If you are able to reproduce this crash it would be

[2017-09-22 21:07] frankus commented on #203
I'm not sure whether this works with your build system in particular, but CocoaPods will let you specify a repository and branch:

[code]

If that doesn't work, we will be doing a general release that incorporates this fix in the near future.

[2017-09-23 02:21] hotngui commented on #203
We are familiar with how cocoapods work, but not supposed to grab unpublished branches.

Any idea when you’ll have it ready for publishing?

On Sep 22, 2017, at 2:07 PM, Frank Schmitt <notifications@github.com<mailto:notifications@github.com>> wrote:

I'm not sure whether this works with your build system in particular, but CocoaPods will let you specify a repository and branch:

pod 'apptentive-i

[2017-09-26 14:02] Taarna opened #204 "v4.0.5 Crash in ApptentiveRequestOperation.m, line 142"
We're using Xcode 9, Swift 4.0 and Apptentive SDK 4.0.5.

The app crashes if multi-threading assertions are enabled.

![screen shot 2017-09-26 at 14 58 34](https://user-images.githubusercontent.com/4928442/30861526-3e6a005a-a2cb-11e7-8dc1-9bc6686f62f7.png)

[2017-09-26 17:36] frankus commented on #204
Thanks for the report. We are aware of this issue and are preparing a release that fixes it. I'll update this when we have released a fix.

[2017-09-27 21:16] frankus commented on #199
We now have an [official release](https://github.com/apptentive/apptentive-ios/releases/tag/v4.0.6) incorporating these fixes.

[2017-09-27 21:16] frankus commented on #202
We now have an [official release](https://github.com/apptentive/apptentive-ios/releases/tag/v4.0.6) incorporating these fixes.

[2017-09-27 21:16] frankus commented on #203
We now have an [official release](https://github.com/apptentive/apptentive-ios/releases/tag/v4.0.6) incorporating these fixes.

[2017-09-27 21:17] frankus commented on #204
We now have an [official release](https://github.com/apptentive/apptentive-ios/releases/tag/v4.0.6) including a fix to the Core Data concurrency errors.

[2017-09-28 07:28] Taarna commented on #204
It doesn't crash anymore. Thank you! :)

[2017-09-28 16:55] #204 closed

[2017-09-28 19:58] carllindberg opened #205 "iPad crash in ApptentiveInteractionTextModalController"
It looks like ApptentiveInteractionTextModalController can create a UIAlertViewController with an alertType of UIAlertControllerStyleActionSheet, but it is not setting the sourceView and sourceRect on the corresponding UIPopoverPresentationController on iPad devices.  That will result in a crash, since action sheets are popovers there.

We got this in version 3.5.1, but looking at the code, while

[2017-09-28 23:06] frankus commented on #205
I'll definitely take a look at this. The SDK should never reach that code path because as far as I'm aware the `layout` property of the configuration dictionary is never set to `bottom`.

Are you using an integration method where you could temporarily edit the Apptentive SDK source code to disable that code path (e.g. change `UIAlertControllerStyleActionSheet` to `UIAlertControllerStyleAlert`) and

[2017-09-29 14:55] gringoireDM opened #206 "Crash on ApptentiveCoversationRequest"
Hello, Since the update to the latest SDK our users are experiencing crashes due to nil parameters inserted in dictionary in the method JSONDictionary for the class ApptentiveConversationRequest.

The steps to reproduce the issue unfortunately are unclear, but the number of crashes is actually growing.

Attached the crashlog:

[code]

[2017-09-29 15:22] frankus commented on #206
Thanks for the report. We'll investigate and keep you updated. Can you let us know the exact version of the SDK that you're using?

[2017-09-29 15:35] gringoireDM commented on #206
4.0.5

[2017-09-30 00:21] carllindberg commented on #205
It is hard to debug the Apptentive path.  However, we disabled the alert completely in the Apptentive config -- though it may have been re-enabled with an iPhone check -- and the crashes have slowed but not stopped, meaning we do have another issue in our code somewhere.  May be a situation where our code has been fortuitously changed since the branch which is in production.  I am suspicious there

[2017-10-03 12:54] tomhartnett opened #207 "Crash on iOS 11 in ApptentiveMessageCenterViewController"
Hi, we are seeing a crash in our app on iOS 11.  From the stacktrace, it looks like it is related to calling dequeueReusableCellWithIdentifier more than once.  And the cell identifier, "ContextMessage", indicates it is happening in Apptentive, in the cellForRowAtIndexPath method in ApptentiveMessageCenterViewController.

I found this thread where a UIKit engineer states that this NSInternalInconsi

[2017-10-03 16:10] frankus commented on #207
This is a known issue when linking any of the 3.x and older Apptentive SDKs with the iOS 11 SDK. We made some architectural changes in 4.0 that avoid this particular crash.

Because the incremental effort to upgrade to 4.x is not much greater than upgrading to another 3.x release, we decided not to issue a fix to the 3.x SDK and are encouraging folks to upgrade to the latest 4.0 SDK.

[2017-10-03 16:10] #207 closed

[2017-10-11 11:41] gringoireDM commented on #206
Updated the SDK to 4.0.6. The crash still occurs.

[2017-10-11 17:18] frankus commented on #206
I just released 4.0.7 which will should prevent this crash from occurring.

[2017-10-11 17:18] frankus commented on #199
I' closing this for the time being. If you see additional instances of this crash please reopen this issue.

[2017-10-11 17:18] #199 closed

[2017-10-11 17:19] frankus commented on #202
I am closing this for now. If you see additional instances of this crash with 4.0.6 or later, please re-open.

[2017-10-11 17:19] #202 closed

[2017-10-11 17:20] frankus commented on #203
I am closing this for now. If you see additional instances of this crash on 4.0.6 or later, please re-open.

[2017-10-11 17:20] #203 closed

[2017-10-24 05:07] loevborg commented on #197
@frankus we have recently migrated from 3.x to 4.0.7, and unfortunately we are still seeing this issue, primarily on iOS 11 (11.0.2 and 11.0.3)

Here is the **Stacktrace**
`Crashed: NSManagedObjectContext 0x1c01c9600
0  libobjc.A.dylib                0x1841f8430 objc_msgSend + 16
1  Apptentive                     0x10314a744 __58-[ApptentivePayloadSender deleteCompletedOrFailedRequest:]_block_invo

[2017-10-24 22:43] frankus commented on #206
I'm closing this for the time being. Please reach out of you experience this issue with 4.0.7.

[2017-10-24 22:43] #206 closed

[2017-10-24 22:46] frankus commented on #197
@loevborg Thanks for the update. I will reopen the issue and we'll continue to try and track down a repro and fix.

[2017-11-06 15:01] kubajakowski commented on #197
@frankus exact same issue in our app. Let me know if you need more info.

[2017-11-07 01:35] frankus commented on #205
The code that was theoretically capable of displaying a text modal (Note) in action sheet mode has been removed in 4.1.0.

[2017-11-07 01:35] #205 closed

[2017-11-15 19:56] frankus commented on #197
We finally tracked this down and have a fix included in the 4.1.1 release.

[2017-11-15 19:56] #197 closed

[2017-11-22 01:10] JamieScanlon opened #208 "Ad Hoc build: Failed to verify bitcode in Apptentive.framework/Apptentive"
Steps:
- Archive a project that includes the Apptentive Framework
- Select Export
- Select Ad Hoc

You will see this error which seems to be a result of the bitcode compilation differences between normal builds and archived builds. More details about the differences between the two can be found in this thread: https://github.com/Carthage/Carthage/issues/535

[2017-11-22 13:11] vgupta20 commented on #197
@frankus The earlier version I had was 4.0.7 to get this issue fixed I updated my pod and got an updated version 4.1.0

How will I get 4.1.1?

[2017-11-22 22:34] frankus commented on #197
I wonder if this might be a problem with CocoaPods. Their website is showing 4.1.1 as the current version: https://cocoapods.org/pods/apptentive-ios.

[2017-12-19 17:42] frankus commented on #208
Thank you for the report and sorry for the radio silence on my end.

I've built the framework for the 5.0.0 version using `archive` for the `iphoneos` destination, as suggested in the thread you linked to.

We're doing some testing on our end as well, but if you have a sec please let me know if it works for you.

[2017-12-20 06:04] frankus commented on #208
I fell victim to this as well, but it looks like you have to follow the [considerably-more-involved instructions for an iOS, watchOS or tvOS project](https://github.com/Carthage/Carthage#if-youre-building-for-ios-tvos-or-watchos) or bitcode will not be built correctly. This involves not using the "Embedded Binaries" section, but instead running a custom Run Script build script phase to your app ta

[2017-12-20 06:04] #208 closed

[2018-02-08 01:55] StevenMyers32 opened #209 "CocoaPods install guide"
Just a suggestion to update the currently linked CocoaPods guide in the README. I had trouble installing via that guide.  I needed to set the NO_USE_FRAMEWORKS flag.

Red linked me this guide: https://learn.apptentive.com/knowledge-base/ios-integration-reference/#cocoapods

It seems to be more detailed than the current linked guide, which doesn't have info on the frameworks flag.

Thanks!

[2018-02-14 18:50] soolwan opened #210 "Prefer to have Analyze run without issues."
Can these strings be wrapped in the localized string macro?
![screen shot 2018-02-14 at 11 47 00 am](https://user-images.githubusercontent.com/217295/36221959-06203cca-117d-11e8-8ea2-67171f1c7281.png)

Thanks!

[2018-02-15 18:19] frankus commented on #210
We'll make sure to get this fixed in our next release.

[2018-02-15 18:45] soolwan commented on #210
Thanks!

[2018-02-26 20:37] frankus commented on #209
Thanks for the heads up! I've updated the guide linked to from the README and added a checklist item to make sure we keep it up to date.

[2018-02-26 20:37] #209 closed

[2018-03-09 10:41] maskedpear commented on #207
Any easy way to reproduce this crash? We see it reported on Crashlytics and wanted to replicate it before installing latest version. Thank you.

[2018-04-26 07:20] spraveenk91 opened #213 "Rating dialog submit button disabled"
Hello Apptentive team,

I am using below version of apptentive into my iOS application.

When, i am getting the rating dialog in my iPhone with version **11.2.6** The rating dialogs are being disabled. Please, find the attached image for the reference.

![ratingedited](https://user-images.githubusercontent.com/3426723/39291325-4442e7fe-4950-11e8-80f3-453bbca811ef.png)

What could be the reason for

[2018-04-26 10:03] wooster commented on #213
Is this in an app downloaded from the App Store, or a development version?

From [Apple's docs](https://developer.apple.com/documentation/storekit/skstorereviewcontroller/2851536-requestreview):

[This StackOverflow thread](https://stackoverflow.com/questions/45057452/why-the-skstorereviewcontroller-does-not-let-me-submit-a-review) may also be helpful.

[2018-04-27 12:32] spraveenk91 commented on #213
My mistake, yes its clearly mention in the apptentive [documentation](https://learn.apptentive.com/knowledge-base/requesting-ratings-on-ios/) as below:

<img width="673" alt="screen shot 2018-04-27 at 6 01 40 pm" src="https://user-images.githubusercontent.com/3426723/39362724-120c95f0-4a45-11e8-8c9d-8e776b0a23ae.png">

[2018-04-27 12:32] #213 closed

[2018-10-15 09:50] matheda opened #222 "Hang in iOS SDK"
We have been getting reports from the field that users are experiencing UI hangs followed by app shutdowns.  We have been trying to track this down, and finally added a watchdog feature that pings the UI queue.  If it does not respond in a given amount of time we intentionally crash the app so that we can get a stack trace of what is going on.

Looking through the results, we have found that the i

[2018-10-15 16:17] weeeBox commented on #222
Hi @matheda,

Sorry for the issue. We'll take a look asap!

[2018-10-17 00:08] frankus commented on #222
We're reviewing a fix for state one, and plan to start on state two tomorrow.

[2018-10-17 01:18] matheda commented on #222
Great, thank you for the quick response!

[2018-10-19 22:47] dchankhour commented on #222
We are also still seeing  the issue on our App

[2018-10-19 23:07] weeeBox commented on #222
We've prepared the fix and currently testing it. Would be released early next week.

[2018-10-23 14:38] matheda commented on #222
Thank you!

[2018-10-24 19:15] frankus commented on #222
We've released the 5.2.2 update that should address this issue. Please let us updated on whether you continue to see the issue with 5.2.2. Thanks!

[2018-10-25 17:07] matheda commented on #222
Awesome, thank you as always for the quick response!  I am going to make an internal build today with the update so we can do some testing.  It will most likely go out to users the week after next.

[2019-01-28 19:43] SarithaPar opened #226 "Crash in iOS SDK 5.2.2 - ApptentiveSerialRequest enqueuePayload: forConversation: usingAuthToken: inContext:"
Our app is crashing while enqueuePayload from ApptentiveSerialRequest.m. We are using appetitive_ios_framework-5.2.2.

```[ApptentiveSerialRequest enqueuePayload:forConversation:usingAuthToken:inContext:]_block_invoke (ApptentiveSerialRequest.m:119)```

Here is more detail about the crash:

[code]

[2019-01-28 19:46] frankus commented on #226
Hi @SarithaPar, thank you for the report. We will take a look at this as soon as we can. In the meantime, could you let us know if this is something you are able to reproduce on demand, or something that occasionally occurs during testing, or have you received a report from a customer or third-party crash reporting tool? If it's the latter, do you have any additional information on the device wher

[2019-01-28 20:06] SarithaPar commented on #226
Hi @frankus , we are observing this crash from third-party tool and unable to reproduce at our end. This is generic crash and observed in all iOS device including OS version 10/11/12.

Along with this crash we also getting crashes from [ApptentiveRequestOperation initWithURLRequest:delegate:dataSource:]. Which is also top crash in our reporting tool.

They could be related or not. Let me know if w

[2019-02-04 22:17] frankus commented on #226
Hi @SarithaPar, does it look like the devices seeing the crash are under memory pressure?

The main difference between the version you are on and the previous version is that all Core Data activity in our SDK has been moved off the main thread, so things like migrations and loading the database happen concurrently with other app launch activities (based on the stack trace, it looks as though this

[2019-02-15 23:04] #222 closed

[2019-03-05 22:05] frankus commented on #226
Does your app use Apptentive's Message Center feature?

[2019-03-11 18:48] SarithaPar commented on #226
Hi @frankus,

• We cannot reproduce this. It is our top crash but something that is very rare ( we just have lots of users )
• There is no memory pressure, as this is early in startup.
• would you be interested in full stack logs?

we are starting Apptentive service very early in our startup, Is there any downside in deferring this later until we are fully up?

[2019-03-11 19:04] SarithaPar opened #228 "Crash in iOS SDK 5.2.2 -ApptentiveRequestOperation.m line 36 -[ApptentiveRequestOperation initWithURLRequest:delegate:dataSource:]"
We are getting crashes from [ApptentiveRequestOperation initWithURLRequest:delegate:dataSource:]. Which is also a top crash in our reporting tool.

- Release version- appetitive_ios_framework-5.2.2.
- Could be related to https://github.com/apptentive/apptentive-ios/issues/226

Below is the crash detail related to ApptentiveRequestOperation:

0 | libswiftCore.dylib | specialized _assertionFailure(_

[2019-03-11 19:12] frankus commented on #226
I think full stack logs would be a good next step. You can either paste them here or email us (sdks at apptentive dot com). Thank you!

[2019-03-11 19:36] SarithaPar commented on #226
Shared via email

[2019-03-11 20:37] frankus commented on #226
Thanks, I just received it. This looks suspiciously similar to a bug reported in Swift 4: https://bugs.swift.org/browse/SR-6795.

If that is the case there probably isn't much we can do on our end, but rather you may need to replace any Swift KVO use in your app with Objective-C or propagate notifications another way.

[2019-03-12 18:58] mhriess opened #229 "Failure to compile using xcodebuild"
apptentive-ios version 5.2.3
xcode version 10.1

We have a react native project that integrates the Apptentive iOS SDK through cocoa pods. `xcodebuild` fails while deploying the app via from local machines for some of our teammates with the following output. We have been so far unable to determine what the difference is between the successful and failing machines. At one point, reducing the iOS De

[2019-03-13 17:36] ganderson2 opened #230 "404 Page Not found after changing to new Key & signature"
Our iOS app moved to a new Apptentive account.
We rebuilt the iOS app with the new key & signature. And upgraded to SDK v5.1.2 from v5.0.2

The app then got  "error":"page not found"
POST https://api.apptentive.com/conversations/xxxxxxxxxx/events failed with error after 1.06797 sec (Error Domain=com.apptentive.http Code=404 "Client error" UserInfo={NSErrorFailingURLKey=https://api.apptentive.com/c

[2019-03-13 17:50] frankus commented on #230
When the SDK is registered at app launch, it looks for data saved from a previous app launch and will attempt to use that data to reconnect to the same session (what internally we call a "conversation"). These sessions are pinned to a particular app key and signature. When you change the app key and/or signature, the server notices that it doesn't match the current session and sends back a 404.

W

[2019-03-13 17:50] #230 closed

[2019-03-19 17:54] frankus commented on #229
Apologies for the delay in responding, we had a bit of a breakdown in our triage process!

Just to be clear, you're using `react native link` to incorporate the Apptentive bridge code, and then using CocoaPods to incorporate the Apptentive iOS SDK?

[2019-03-19 18:04] mhriess commented on #229
No worries, thanks Frank!

We are using CocoaPods to incorporate the SDK, but we have the bridge code [linked manually](https://facebook.github.io/react-native/docs/linking-libraries-ios#step-1-1) rather than through `react native link`.

[2019-03-21 21:52] frankus commented on #229
I haven't been able to reproduce this error, but there are references to Xcode 10's new build system leading to errors like this. Can you try selecting the project, choosing File > Workspace Settings… and setting it to use the legacy build system?

[2019-04-15 22:21] frankus commented on #229
Did changing the build system allow you to build successfully?

[2019-04-26 11:14] suman-cdl opened #231 "Cannot able to change Submit button UI and radio button color"
Hi, I am using SDK 5.2.3 and I can not able to change Submit button text and border also not able to change radio button color.
![test](https://user-images.githubusercontent.com/34672940/56804211-e7c98100-67f2-11e9-98d0-95b7d90786e8.png)

[2019-04-26 17:21] frankus commented on #231
The submit button and radio buttons automatically pick up the tintColor property of the view controller/window.

The easiest way to change it is to use UIAppearance, for example add the following when your app launches:

[code]

[2019-04-26 17:21] #231 closed

[2019-04-26 17:23] frankus commented on #231
I'll make a note to call this out a bit more clearly in our styling documentation.

[2019-05-17 16:38] #229 closed

[2019-05-17 16:39] #226 closed

[2019-05-17 21:44] mhriess commented on #229
Hi @frankus sorry for the radio silence here. We use the legacy build system by default, but the error appears to be unrelated. Our only solution continues to be (re)setting the Apptentive library's deployment target to 9.0.

[2019-05-17 23:26] CaseyApptentive commented on #229
Hi @mhriess, thanks for circling back. I'll take a closer look with my team.

To be sure: is this blocking you from release, or is it more of a hinderance? Either way, we'll look for a solution, but this will help us prioritize.

Also, which app are you working on this for? Let me know and I'll take a look at our backend to make sure everything is in line for that app.

Thanks!

[2019-06-05 06:42] KaneCheshire opened #233 "Support Swift Package Manager in Xcode 11"
Hey!

In Xcode 11 Swift Package Manager is built in and works extremely well as a dependency manager, automatically resolving dependencies without messing around with the project structure like Cocoapods does.

I'm not sure how it works with frameworks written in Objective-C, whether there can be a Swift wrapper around the framework which is exposed in a Swift Package, but since Xcode 11 this will

[2019-06-06 01:55] CaseyApptentive commented on #233
Hey @KaneCheshire! Thanks for the thoughtful note. I'll review this with my team and work on next steps.

Stay tuned.

[2019-07-15 11:06] MihaiPantiru opened #234 "Xcode 11 beta 3 - UIWebView error when trying to run iOS app as macOS app"
We try to port an iOS app which uses Apptentive iOS SDK to run on macOS 10.15 as an iPad app.

Compiling the app on macOS throws an Apptentive SDK error:
`Pods/apptentive-ios/Apptentive/Apptentive/Apptentive.storyboard:MnL-J4-fWD: error: UIWebView is unavailable when building for Mac. [6]`

IDE: Xcode 11 beta 3
OS: macOS 10.15 beta 3

[2019-07-15 11:08] weeeBox commented on #234
Hi @MihaiPantiru, we don't support MacOS builds at this time. Please, consider adding Apptentive SDK dependency only for iOS-related targets. Please, let us know if you have any questions!

[2019-07-15 11:11] MihaiPantiru commented on #234
Hi @weeeBox. Technically, the new feature added in Xcode 11 is running iOS apps on macOS so is an iOS target. But since UIWebView is deprecated (https://developer.apple.com/documentation/uikit/uiwebview) any chances you would migrate to WKWebView in the near future? Thanks a lot!

[2019-07-15 11:37] weeeBox commented on #234
Thanks for clarifying - we'll take a closer look and get back to you!

[2019-07-23 00:04] frankus commented on #234
Right now it looks like we would have to drop iOS 9 & 10 support to update to WKWebView (NSCoding was broken for WKWebView prior to iOS 11), or phase out the upgrade dialog feature, or construct its view programmatically. We'll have a discussion with our product team to figure out next steps.

[2019-07-25 17:57] pbonneville opened #235 "Xcode 10.3 apptentive-ios (5.2.4) ".../Pods/apptentive-ios/Apptentive/Apptentive/Apptentive.storyboard:-1: Compilation Failed.""
Anyone else experiencing this error in Xcode 10.3?:

".../Pods/apptentive-ios/Apptentive/Apptentive/Apptentive.storyboard:-1: Compilation Failed."

I've updated to the latest Pod but am now unable to build my app due to the Apptentive Cocoapod.

[2019-07-25 17:57] frankus commented on #235
Thanks for the report. We're taking a look.

[2019-07-26 18:36] pbonneville commented on #235
Just to follow up here, it seems upgrading my OS to Mojave 10.14.6 may have fixed the issue with 10.3

[2019-07-26 18:36] #235 closed

[2019-07-26 18:57] CaseyApptentive commented on #235
Thanks for the update, @pbonneville !

It sounds like you're still using Xcode 10.3 as well when your OS is on Mojave 10.14.6?

Appreciate your help. I want to be sure to document this if there's an issue with particular versions.

[2019-07-26 19:28] pbonneville commented on #235
Correct. The issue for me occurred when my system auto updated to Xcode 10.3 before I updated to Mojave 10.14.6. Not sure if it was related or not, but the issue when away after the OS update.

[2019-07-26 19:37] CaseyApptentive commented on #235
Much appreciated, @pbonneville. Let me know if there's anything else we can do to help.

[2019-08-31 00:44] aanelson opened #236 "Deprecated API Usage - Apple will stop accepting submissions of apps that use UIWebView APIs"
Hello, we have recently gotten this message with the last release of our app.  The only UIWebkit dependency in our app is in apptentive.

ITMS-90809: Deprecated API Usage - Apple will stop accepting submissions of apps that use UIWebView APIs . See https://developer.apple.com/documentation/uikit/uiwebview for more information.

After you've corrected the issues, you can use Xcode or Application Lo

[2019-08-31 00:45] frankus commented on #236
Thanks for the report. We're aware of this and will be releasing an update to address this within the next few days.

[2019-09-10 05:11] spraveenk91 commented on #236
Apptentive team has released a new version [5.2.5](https://github.com/apptentive/apptentive-ios/releases/tag/v5.2.5) for this issue.

[2019-09-10 15:58] frankus commented on #236
Closing this issue because as @spraveenk91 mentioned, we have released an update that removes references to UIWebView (and supports dark mode).

[2019-09-10 15:58] #236 closed

[2019-09-10 16:00] frankus commented on #234
We have removed references to UIWebView in release [5.2.5](https://github.com/apptentive/apptentive-ios/releases/tag/v5.2.5).  We aren't currently supporting Catalyst apps, but are definitely keeping an eye on this for the future.

[2019-09-10 16:00] #234 closed

[2019-09-11 20:42] yangchen-acc opened #238 "Add delegate functions for user interactions"
Hi Team, we're trying to send log file to apptentive only when user submits a message from the messageCenter, is there a way to know the user tapped the send button or a function to know when a new message is sent?

[2019-09-11 20:48] frankus commented on #238
The SDK fires the `ApptentiveMessageSentNotification` when the user sends a message in Message Center, which should let you do that.

[2019-09-11 20:57] yangchen-acc commented on #238
Hi Frankus, thanks for the response, but when we sendAttachment it will trigger that notification again which might not be an ideal notification to listen to, I would be optimal if we can tell it's from a user-initiated event

[2019-09-11 21:31] frankus commented on #238
You should find a `ApptentiveSentByUserKey` in the notification's `userInfo` dictionary with a `Bool` (or `NSNumber` in Objective-C) indicating if it was user-initiated.

Hopefully that makes it work for you. This should definitely be documented a bit better!

[2019-09-11 21:35] yangchen-acc commented on #238
Cool! That will help, thanks

[2019-09-11 23:33] #238 closed

[2019-09-16 12:25] sonjh1217 opened #239 "On version 5.2.5 & iOS 13 whole survey screen is pink, and no content is shown."
On version 5.2.5 & iOS 13 whole survey screen is pink, and no content is shown.
![윤주호_20190916_205350_3](https://user-images.githubusercontent.com/7251802/64957524-20641700-d8c8-11e9-987d-758dfac9e5f1.png)

It works fine on  version 5.2.5 &  iOS 12
or on version 5.2.2 & iOS 13
![KakaoTalk_Image_2019-09-16-21-24-43](https://user-images.githubusercontent.com/7251802/64957653-67eaa300-d8c8-11e9-9f3d-

[2019-09-16 17:35] frankus commented on #239
Thank you for the report. I will take a look at this right away.

[2019-09-16 22:35] frankus commented on #239
We've identified the cause of this issue. It occurs when Apptentive iOS SDK version 5.2.5 is built on Xcode 10 and run on a device running iOS 13.

If you are unable to wait for a release that fixes this bug, please use version 5.2.4 in the meantime, or build your app using the latest Xcode 11 GM seed.

Again, thank you so much for reporting this issue! We will release a fix as soon as possible.

[2019-09-18 08:53] maheshvenkitachelam opened #241 "App Stuck after pressing YES in Love Dialog"
The app gets stuck after i press YES in Love dialog and the rating screen never comes up.

I am using a 12.3.1 iphone 7 for testing and 5.2.4 apptentative.

[2019-09-18 17:31] richkolasa opened #242 "iOS 13: Can't re-present message center after pull-to-dismiss"
After dismissing message center via new modal pull-to-dismiss, it cannot be presented again.

[2019-09-18 17:35] frankus commented on #242
Thank you for the report. We will look into this right away and get back to you.

[2019-09-18 17:43] vbrapptentive commented on #241
Hello @maheshvenkitachelam  - thanks for reaching out! Would you be able to contact our support team: support@apptentive.com, and include details about the company and app you are working on? Our team will be able to assist further from there.

Thanks so much,

Veronica

[2019-09-19 16:58] vbrapptentive commented on #242
@richkolasa we have just released our 5.2.7 SDK which addresses and resolves the issue you reported - thanks for sharing that!

Please upgrade to the latest version and contact support@apptentive.com if you have any further issues.

[2019-09-19 17:18] richkolasa commented on #242
@vbrapptentive @frankus Thank you!

[2019-09-19 17:19] #242 closed

[2019-09-19 19:46] dauby88 opened #244 "Message Center won't reopen if dismissed via gesture (iOS 13)"
iOS 13 allows modals to be dismissed with a swipe gesture and this is not being handled for the Message Center presentation.

After dismissing Message Center with a swipe gesture (instead of the "Close" button), opening  Message Center again fails and the following message is logged: "Apptentive message center controller already shown."

[2019-09-19 19:56] vbrapptentive commented on #244
Hi @dauby88 - we have just addressed and resolved this in our latest SDK, 5.2.7. Can you please upgrade and contact support@apptentive.com if you have any further issues?

[2019-09-19 20:10] dauby88 commented on #244
Well I probably should have updated to the latest version before logging the issue...oops. Thanks!

[2019-09-19 20:47] vbrapptentive commented on #244
No worries! Please keep us in the loop if you have any additional issues and thanks for reaching out.

[2019-10-01 08:32] sonjh1217 commented on #239
Thank you!

[2019-10-01 08:32] #239 closed

[2019-10-01 20:13] CaseyApptentive commented on #241
Hi @maheshvenkitachelam. I wanted to follow up. Can you reach out to support@apptentive.com? From there we'll be able to help you directly.

Thanks!

Casey

[2019-10-08 11:30] timonchev opened #245 "Can't get notifications for iOS 13"
Hello, I didn't get notifications for iOS 13. Please check this. because Apple did changes with deviceToken. Now it seem that broken.

Thanks

[2019-10-08 15:54] CaseyApptentive commented on #245
Thanks for reaching out @timonchev. Can you email me at support@apptentive.com with which app you're working on specifically? I'd like to take a closer look at your setup to troubleshoot.

Thanks again!

[2019-10-09 20:30] YodaVN opened #246 "Update to version 5.2.7 via cocoapods"
I can't update from 5.2.3 to the latest version 5.2.7 by cocoapods. Is there anyway I can update it by cocoapods?

[2019-10-09 20:32] frankus commented on #246
Just to be clear, is `pod update apptentive-ios` not grabbing version 5.2.7? Do you have any version restrictions in your Podfile that might excluding version 5.2.7?

[2019-10-09 20:38] YodaVN commented on #246
Hi @frankus, that's my bad, something is wrong with my pod file. I deleted it and re-create, now it can update to 5.2.7

Thanks.

[2019-10-09 20:38] #246 closed

[2019-10-11 22:11] #244 closed

[2019-10-25 20:31] YodaVN opened #247 "Can't trigger event to show Survey"
Hi,

I can only trigger one time the event to show the Survey with a button. After that, if I press the button again, the event counts still up but the survey won't show up.

The only way I can make it works is by deleting the app from the device.

[2019-10-25 20:37] CaseyApptentive commented on #247
Hi @YodaVN !

Can you email me at support@apptentive.com with the URL for the specific Survey you're having trouble with? This may be expected behavior, depending on your targeting settings.

Thanks

[2019-12-17 14:27] nic0mic opened #249 "Can not switch to another configuration after the first initialization (via mParticle)"
Hi,

We are using Apptentive iOS via the [mParticle kit](https://github.com/mparticle-integrations/mparticle-apple-integration-apptentive).

The SDK is initialized a first time with **development API keys** (ie project A on Apptentive)
We can receive the events and the rating dialog is working.

The problem is if we decide to switch to the **production API keys** (ie Project B on Apptentive), the

[2019-12-17 21:07] CaseyApptentive commented on #249
Hi @nic0mic !

Thanks for the thorough details. Happy to help.

Our SDK uses a standard 8 hour caching period, which it sounds like you're running into. When testing on real devices, the best thing to do is to fully uninstall then reinstall the app. This takes a bit of leg work, but it is the best way to ensure a clean testing environment as it forces a fresh manifest (which we use for targeting r

[2019-12-17 21:22] CaseyApptentive commented on #249
@nic0mic taking a look at this with my engineers now. We'll be in touch with next steps as soon as possible.

Thanks!

[2019-12-17 21:27] frankus commented on #249
Hi @nic0mic,

Right now our SDK doesn't support changing the app key/signature after the first call to "register". The app key and signature are only used to create the session for the app (referred to as a "conversation" in the code), and after that the particular app install is pinned to that key/signature.

I'm not sure if it would be a good fit for your workflow, but usually we would recommend

[2019-12-18 00:15] CaseyApptentive commented on #249
@nic0mic could you email us at support@apptentive.com with the name of the app you're working on? Then I can loop in your Customer Success Manager and they can assist in setting up a test app dashboard.

[2019-12-18 10:36] nic0mic commented on #249
Thank you for the quick answer!
@frankus I was afraid of this, we currently have different mParticle workspace like you said.
We will find a solution to be able to test/changing the configuration, it is more a process to follow/be careful about now we know it will be always initialized with the first configuration set.

thank you!

[2019-12-18 10:36] #249 closed

[2020-02-03 23:47] smani21 opened #250 "[ApptentiveLogFileWriteTask execute] /apptentive-ios/Apptentive/Apptentive/Misc/ApptentiveLogFileWriteTask.m:64"
We are using 'apptentive-ios', '~> 5.2.7'
Still we are getting this crash.

<img width="385" alt="Screen Shot 2020-02-03 at 3 45 46 PM" src="https://user-images.githubusercontent.com/53021310/73700775-526dee00-469c-11ea-8765-3780af842350.png">

[2020-02-04 00:29] CaseyApptentive commented on #250
Hi @smani21. Thanks for reaching out, and apologies that you're seeing a crash.

Can you send the full crash report to casey@apptentive.com? Happy to take a closer look and help with next steps.

[2020-02-06 19:34] #250 closed

[2020-02-06 20:17] CaseyApptentive commented on #250
@smani21 Looks like this issue has been resolved -- is that right?

Happy to help if you need anything.

[2020-02-26 20:32] reggie3 opened #252 "Veracode Vulnerability Question with arc4random (ApptentiveUtilities.m, line 187) and rand (ApptentiveRetryPolicy.m, line 43) ("
Hello,
   We were doing a Veracode scan on our app using this library.  Veracode highlighted the following two vulnerabilities related to randomness for the calls in the line ApptentiveUtilities.m on line 187 and ApptentiveRetryPolicy.m on line 43.

Insufficient Entropy

Standard random number generators do not provide a sufficient amount of entropy when used for security purposes. Attackers can b

[2020-03-04 19:27] karansota opened #253 "Cannot compile using Xcode 11.3.1"
Unable to build on Xcode 11.3.1

![Screen Shot 2020-03-04 at 11 27 05 AM](https://user-images.githubusercontent.com/2958150/75915338-2a90b800-5e0b-11ea-8f43-5a41e8b1bce3.png)

[2020-03-04 22:31] CaseyApptentive commented on #253
Hi @karansota !

Thanks for reaching out and letting us know. My colleague, Marta, mentioned that she's on an email thread with you already. Moving the conversation there to help coordinate all parties.

We'll be in touch shortly.

[2020-03-12 14:59] juliomb opened #256 "Prevent iOS13 swipe to dismiss"
We would like to prevent swipe-to-dismiss to happen on iOS13 because some users are dismissing surveys by mistake. It can be easily achieve doing
`viewController.isModalInPresentation = true`
but since we don't have a reference to the `ViewController`, we can't make the change.

Thanks in advance.

[2020-03-12 23:06] CaseyApptentive commented on #256
Hi @juliomb ! I'll share your feedback with my product team.

Always love the feedback on how to improve our product.

[2020-03-25 14:17] colinrf opened #262 "MobileCoreServices has been renamed. Use CoreServices instead."
After upgrading to Xcode 11.4 I have new project warnings from Apptentive.

`MobileCoreServices has been renamed. Use CoreServices instead. `

[2020-03-25 16:25] CaseyApptentive commented on #262
Thanks for reaching out @colinrf. Taking a look at this with my team.

We'll be in touch as soon as possible.

[2020-03-25 22:04] CaseyApptentive commented on #262
@colinrf thanks again for the report!

We've tried to repro it using Xcode 11.4 but are not able to. Can you help use with a bit more information?

- What app are you working on? If you'd prefer, please email support@apptentive.com with details so we can help coordinate.
- Is this blocking you from release, or urgent in any other way?
- How are you integrating Apptentive with your app? Any additio

[2020-03-30 13:55] HithakshiKulal opened #263 "Background colour of textfield in survey screen is not updating for option 'other'."
1. Present survey with choices along with **other** option. (Dashboard)
2. Customise UI to have dark backgound. Set textfield background to dark as well.  (app-end)
[code]

Output: Background color isn't changing.

Observation: textField in OtherCell (ApptentiveSurveyViewController) is never customised to change background color.

[2020-03-30 19:45] vinnyA3 opened #266 "[iOS] No known class method for selector (X)"
### Issue Description

The latest patch update (`5.2.9`) breaks iOS builds.  Receiving errors like `No known class method for selector`.  The fix for us: lock to version `5.2.8`

### Steps to Reproduce / Code Snippets / Screenshots

**Podfile**

[code]

**Error Screenshots**

![Screen Shot 2020-03-30 at 3 39 00 PM](https://user-images.githubusercontent.com/11083531/77954443-9c3e1380-729c-11ea-8070

[2020-03-30 19:50] frankus commented on #266
These symbols are new for iOS 13, which requires Xcode 11 or later. You can either upgrade Xcode to a recent version or use the 5.2.8 release of Apptentive.

[2020-03-30 19:50] #266 closed

[2020-03-30 20:01] vinnyA3 commented on #266
Cool, thanks @frankus  ... Is this documented somewhere?

[2020-03-30 20:02] frankus commented on #266
It's not currently, sorry about that. We'll make a note to add it to the CHANGELOG for future releases that require new tools.

[2020-03-30 20:03] vinnyA3 commented on #266
No worries! thanks for the reply

[2020-03-31 23:14] CaseyApptentive commented on #263
Hi @HithakshiKulal ! Thanks for reaching out. Can you email us at support@apptentive.com with details on which app you're working on and if this is blocking you from release? That way, I can coordinate with your Customer Success Manager and prioritize the solution.

[2020-04-01 05:41] HithakshiKulal commented on #263
@CaseyApptentive I found this bug when customising the UI (was exploring the SDK). This is not in our requirement as of now. so no worries!

[2020-04-14 16:49] vinaykrishnan opened #268 "Delegate or Notification observer or completion handler for when an event is cancelled or when user submit the feedback."
Can any one help in here with getting the completion handler when user cancel the survey or submit the survey.

Code snippet :  Apptentive.shared.engage(event: event, from: controller)

[2020-04-14 16:58] frankus commented on #268
We do publish an `ApptentiveSurveySentNotification` that's fired when the user submits a survey response, but currently there is no way to detect the user cancelling the survey.

[2020-04-14 17:20] vinaykrishnan commented on #268
Hi Frankus, thank you so much for the response, ApptentiveSurveySentNotification well this will help, unfortunately i also needed a call back to handle the event when user cancel the Survey.

[2020-04-14 19:04] vinaykrishnan commented on #268
Any thoughts of having it? Well this could be a benefits to analyze users participation in a survey.

[2020-04-28 21:27] CaseyApptentive commented on #268
Hi @vinaykrishnan. Thanks for the suggestion -- happy to share it with my Product team.

it sounds like your Apptentive Dashboard should help with this. On your Dashboard, we analyze Survey data. This includes responses as well as things like response rate. Response rate specifically would show you how many people saw a Survey versus how many completed submitting answers.

![Screen Shot 2020-04-28

[2020-04-29 09:58] vinaykrishnan commented on #268
@CaseyApptentive @frankus , thanks for the reply.

It will definitely helps us.

The issue in IOS 13 is when a view is presented, it don't cover the full screen, so the view presenting it is never notified when it is dismissed i.e  viewdidappear, viewwillappear methods are not called. For more information you can browse this
 (https://stackoverflow.com/questions/56568967/detecting-sheet-was-dismis

[2020-04-29 15:56] mknippen opened #271 "There's no way to see when a user cancels a survey"
In the current version of the SDK, we have notifications where when a survey is shown to a user, and when the user successfully sends a survey. We do not, however have a way to tell when the survey has been cancelled.

This has been requested by a client of mine. I've went through and added this specific notification in a fork. It's 3 lines of code, and follows MVVM.

Please consider reviewing/mer

[2020-04-29 16:01] mknippen commented on #268
I'm having a similar issue. I just opened a ticket and a PR that adds a notification that should solve this problem. It's only a few lines of code and would really help:

https://github.com/apptentive/apptentive-ios/pull/272

[2020-05-06 18:51] sundariragavan opened #273 "How to fix this issue in RNApptentiveModule ?"
[code]

[2020-05-07 23:28] CaseyApptentive commented on #273
Hi @sundariragavan, thanks for reaching out. Can you help us understand the behavior you're seeing with your seeing this?

For example, is it a crash, are Apptentive Interactions failing to launch, or something else?

Let me know and we'd be happy to help.

[2020-06-09 03:11] chrismcs commented on #262
Apptentive has been giving us the same warning in our project (we have it installed via cocoapods).  Looks like the linked PR should fix it.  Just checking to see if you'll be merging it anytime soon - we prefer to keep our project warning-free if possible.  Thanks!

[2020-06-09 23:51] CaseyApptentive commented on #262
Hi @chrismcs ! Thanks for letting us know. We do not have this on our near term roadmap but will let you know if that changes.

Would you mind emailing us at support@apptentive.com and tell us which app you're working on? I'd like to keep your Account Manager in the loop so they can help track. Just mention that you reached out on GitHub.

Last we tried, we were unable to repro this in our own tes

[2020-06-19 21:57] akcelotechnology commented on #262
Hi @CaseyApptentive, I'm also seeing this warning with Xcode 11.5 and Apptentive 5.2.11. We're using it for a hight profile client and would like to remove this warning. I'm emailing support with app details. Thanks!

[2020-06-24 11:59] AlexTrott opened #274 "ApptentiveLogMonitor calls UIPasteboard in production builds"
Like many others I have updated to the latest iOS 14 beta, and I noticed that my apps which utilize Apptentive, are all showing the new pasteboard dialog.

I did some digging, and found that `ApptentiveLogMonitor` looks to be doing weird stuff, which I'd suspect should be behind a debug compiler flag.

If `ApptentiveLogMonitor` fails to get a session, which it is currently doing on my application,

[2020-06-24 23:34] CaseyApptentive commented on #274
Hi @AlexTrott ! Thanks for the report. Let me discuss this with my team. We'll get back to you with next steps as soon as possible.

If this is urgent and impacting a release, could you be sure to email support@apptentive.com and let us know which app you're working on? That way I can keep your Account Manager in the loop to ensure everything is handled.

Thanks again.

[2020-06-24 23:40] CaseyApptentive commented on #274
@AlexTrott apologies -- I misread your message.

We'll keep this in mind as we ensure our SDK is ready for iOS 14 and will keep you posted!

Let me know if there's anything else I can do in the meantime.

[2020-06-25 05:51] AlexTrott commented on #274
Hey @CaseyApptentive, thanks for getting back to me. I appreciate this change looks like it only really has impact for iOS 14 users, but it affects all OS versions. I have concerns that if ApptentiveLogMonitor fails to initialize, a malicious user can now send request to your `/debug/verify` endpoint￼, and potentially do damage.

https://github.com/apptentive/apptentive-ios/blob/4c003b7c0ebc0a95e7

[2020-06-25 06:09] AlexTrott commented on #274
@CaseyApptentive just created a quick sample project and it still happens on the latest SDK, and `apptentive-log-monitor.cfg` isn't in the directory the code is looking for

<img width="1205" alt="image" src="https://user-images.githubusercontent.com/595623/85664879-ac566b00-b6b2-11ea-9015-e97448d0ef16.png">

[2020-06-25 17:17] scier commented on #274
This is going to create a user trust and PR problem for potentially all apps using Apptentive, even well before the release of iOS 14; I'd request prioritizing a fix for this issue in the short term, rather than considering this a "fix for iOS 14 release" issue.

[2020-06-25 17:27] AlexTrott commented on #274
@scier Completely agree, this is an issue that was unearthed by iOS 14, but affects all versions. Sounds like ApptentiveLogMonitor isn't initializing for you either. ￼

[2020-06-25 21:02] SteveThePilot commented on #274
I agree - this needs to be looked at and fixed immediately as this code is used by a lot of big apps that will start to lose users from lack of trust as they start using iOS 14 beta and it becomes blatantly clear to them that something wrong is happening.

[2020-06-25 21:06] CaseyApptentive commented on #274
Thanks, everyone. Our engineering team is looking at solutions now.

Stay tuned for a release with a fix. Will update here when ready.

[2020-06-30 13:34] valeranirav opened #277 "(null) is being displayed in "Conversation" section, even after sending correct MIME type while sending attachment"
Hi,

I'm using below AppTentive API to send the attachment with `Data` in swift

`- (void)sendAttachmentFile:(NSData *)fileData withMimeType:(NSString *)mimeType NS_SWIFT_NAME(sendAttachment(_:mimeType:));`

Below is the code which I have implemented.

`apptentive.sendAttachment(Data("hello all".utf8), mimeType: "text/plain")`

Now the issue is when I am sending an attachment using the above code,

[2020-06-30 21:58] frankus commented on #274
The pasteboard checking is now disabled except for devices that have a particular configuration profile installed.

[2020-06-30 21:58] #274 closed

[2020-06-30 21:59] frankus commented on #271
This is now part of the 5.2.12 release.

[2020-06-30 21:59] #271 closed

[2020-06-30 21:59] frankus commented on #268
This is now part of the 5.2.12 release.

[2020-06-30 21:59] #268 closed

[2020-06-30 22:00] frankus commented on #263
This has been fixed as part of the 5.2.12 release.

[2020-06-30 22:00] #263 closed

[2020-07-02 20:35] weiyin opened #279 "Crash on iOS simulator due to thread sanitizer"
Hi,

My app is crashing on the iOS simulator with this message:

Dyld Error Message:
  Library not loaded: @rpath/libclang_rt.tsan_iossim_dynamic.dylib
  Referenced from: /Users/USER/Library/Developer/CoreSimulator/Devices/74A87809-190C-472A-A816-22EFD6C66BA3/data/Containers/Bundle/Application/AEB7C748-3563-4CDD-9F46-6D796B1DA30A/News.app/Frameworks/Apptentive.framework/Apptentive
  Reason: image

[2020-07-02 21:47] CaseyApptentive commented on #279
Hi @weiyin ! Thanks so much for reaching out, and I'm sorry for the issue. Are you seeing this when you upgrade to the latest iOS SDK, v 5.2.12?

Let me know and we'll take a look as soon as possible.

[2020-07-03 02:38] frankus commented on #279
Looks like this got included in the 5.2.9 update: https://github.com/apptentive/apptentive-ios/commit/1be524208ac5820b101b662a325666fae181536c#diff-e7f5430df36a3eb5a8c236ca79911f41R57.

Hoping to have a release out soon that will revert that change. Thanks for bringing it to our attention!

[2020-07-06 15:20] weiyin commented on #279
Thanks, looking forward to the release!

[2020-07-06 19:50] frankus commented on #279
This should be fixed as part of https://github.com/apptentive/apptentive-ios/releases/tag/v5.2.13.

[2020-07-06 19:50] #279 closed

[2020-07-18 02:00] heinst opened #282 "iOS 14 clipboard permission notification"
We had a few users on the iOS 14 beta for our banking application contact us about them feeling uncomfortable about a banking application reading the clipboard, rightfully so. iOS 14 now tells users when apps have permission to their clipboard. It appears apptentive does in the background trying to read if the debug token is on the clipboard. Is this something that will be looked into so our users

[2020-07-20 16:05] frankus commented on #282
We released version 5.2.12 a couple of weeks ago to address this, but we recommend updating to 5.2.14 as it contains a few additional fixes.

[2020-07-20 16:05] #282 closed

[2020-07-22 17:51] sima-11 opened #283 "Unable to disable framework"
Dear team,

I couldn't seem to find a function to disable the framework once `Apptentive.register(with:)` is called.
My assumption is if I pass in an invalid “configuration” parameter when calling “Apptentive.register(with:)”, it’ll probably disable the SDK?
Would be helpful if you could provide some insight?

Thanks!

[2020-07-22 22:29] DanMorganiOS opened #284 "iOS 14 Beta - Privacy alert for copying content from other apps appearing with Apptentive"
I understand this software is in beta currently. If this is not the appropriate forum to report please let me know.

In iOS 14 beta (both 1 & 2 at this time), if you do a deep link back to your own app with apptentive configured in your app, you will receive a privacy alert that your app pasted from the app you deep linked from on a cold launch (app launch not in memory).

This is because during t

[2020-07-22 22:34] CaseyApptentive commented on #284
Hi @DanMorganiOS. Great question. This is a known issue with devices on iOS 14, and we put out a release to fix this. Can you update to the latest SDK version, 5.2.14?

The pasteboard notification that you're talking about was actually fixed in 5.2.12, but we noticed and fixed several other small issues which brought us to 5.2.14.

Let me know if that fixes is.

[2020-07-22 22:34] CaseyApptentive commented on #283
Hi @sima-11. Great question. Let me see if I can help track down an answer.

Stay tuned.

[2020-07-22 22:35] frankus commented on #284
We're aware of this issue and released a fix recently that addresses it (please upgrade to version 5.2.14 of the SDK).

The debug token has a couple of additional layers of verification and needs to match the value generated in the Apptentive  dashboard's API & Development area in the Settings Tab, at which point it asks the user to opt in to additional logging, with a second opt-in to allow the l

[2020-07-22 23:20] DanMorganiOS commented on #284
Hi @CaseyApptentive thanks for the quick reply! Updating to 5.2.14 made the privacy notification go away.

[2020-07-22 23:20] #284 closed

[2020-07-23 00:24] CaseyApptentive commented on #283
Hi @sima-11 . I spoke with my team to be sure, and by design, after the `Apptentive.register(with:)` method has been called, the SDK cannot be disabled. It will continue to run until the app fully exits.

Can you tell me a bit more about why you're trying to disable the SDK? Though we don't support doing that, I may be able to offer help solving whatever problem you're trying to solve.

[2020-07-23 16:38] CaseyApptentive commented on #284
Perfect. Thanks for confirming, @DanMorganiOS .

[2020-07-24 08:07] sima-11 commented on #283
Thanks @CaseyApptentive. It's basically required by TCF 2.0, and we need to enable/disable the SDK at runtime, ideally without force quitting our app.

[2020-07-27 23:05] CaseyApptentive commented on #283
Thanks for the clarification @sima-11. Are you or your team also discussing this with Pat from Apptentive's Customer Success team? I work closely with him and want to be sure we're not crossing wires.

If it's okay with you and you are working with him, let's use that thread moving forward so everyone is on the same page.

[2020-07-28 14:11] sima-11 commented on #283
Hi @CaseyApptentive, yes, I've also had some conversation with Pat, and he mentioned he'll have discussion with the team. 👍

[2020-07-28 16:38] CaseyApptentive commented on #283
Thanks, @sima-11. I'm going to close this issue for now to help keep discussion streamlined.

[2020-07-28 16:38] #283 closed

[2020-08-04 19:28] yugandh opened #285 "Unable to see mobile app user email address, when i set Apptentive.shared.personEmailAddress = "yu@gmail.com""
Unable to see mobile app user email address, when i set Apptentive.shared.personEmailAddress = "yu@gmail.com".

Below is apptentive sdk code.
    /** The email address of the app user in form fields and communicating with Apptentive. */
    open var personEmailAddress: String?

In our mobile app code we are setting like below
Apptentive.shared.personEmailAddress = "yu@gmail.com".

Refer:
https://l

[2020-08-17 22:16] DanMorganiOS opened #286 "Advertising Identifier"
Hi Apptentive Team,

I noticed in this file [here we are trying to access the advertising identifier](https://github.com/apptentive/apptentive-ios/blob/master/Apptentive/Apptentive/Engagement/Model/ApptentiveDevice.m#L82) off the device. With the changes to IDFA in iOS 14 do you anticipate changing/removing this code? Will my app with your SDK be compliant with the new  guidelines around the IDFA

[2020-08-17 22:38] CaseyApptentive commented on #286
Hi @DanMorganiOS. Great question, and one that's especially important with iOS 14.

We do not collect IDFA. It's a field on our backend that is available, but it is turned off by default.

This has been the case for every app we work with and it has not been an issue with submissions.

Let me know if you have any additional questions

[2020-08-26 13:26] mike-dutka opened #287 "Failed to display a survey on iOS 14 Beta. App crash."
Device: iPad Pro 9.7in
iOS 14 Beta (18A5351d)

App fails to show a survey after `Apptentive.shared.engage(event: eventName, withCustomData: nil, from: controller)` than stops responding and crashes in a minute. Profiling shows that there is some problem with an Apptentive collection layout flow which leads to huge memory consumption and app crashing.
<img width="794" alt="Screenshot 2020-08-26 at

[2020-08-26 16:38] CaseyApptentive commented on #287
Hi @mike-dutka. Thanks for the report. We'll take a closer look as soon as possible.

What version of the SDK are you using?

[2020-08-26 17:04] mike-dutka commented on #287
Hi @CaseyApptentive. Tried 5.2.12 and 5.2.14

[2020-08-26 20:48] CaseyApptentive commented on #287
Thanks for the versions, @mike-dutka !

We're able to reproduce the issue now and will let you know as soon as we have a fix. This is a priority for us and we'll have it available as soon as we can have everything verified.

[2020-09-08 20:23] frankus commented on #287
This is fixed on the new `ios-14` branch released today. Please take a look and let us know if it works for you.

Thanks again for the detailed report!

[2020-09-08 20:25] #241 closed

[2020-09-11 13:34] braker1nine commented on #287
@frankus we're having issues with the changes to the header imports when we pull this branch in via cocoapods. Our builds are failing because some header files aren't found.

Changing
[code]
to this
[code]
resolves the issue

Has anyone else experienced this? I'm trying to figure out if it's something in our cocoapods setup that's wrong

[2020-09-14 19:38] frankus commented on #287
I am able to reproduce this by removing the `use_frameworks!` directive from the Podfile.

It's been a few years since I've investigated this, but it sounds like `use_frameworks!` has fallen out of favor somewhat due to longer app startup times. Can you tell me a bit more about your setup so we can look at improving support for this? Mostly around language mix (Swift/Obj-C) and how you're actually

[2020-09-15 12:51] braker1nine commented on #287
Ahhh right right. Our codebase is majority Objective-C with maybe a slowly increasing chunk of swift. Our actual use of the Apptentive SDK is all in a single Objective-C wrapper where we're importing the root Apptentive header file with an `#import "Apptentive.h"`

[2020-09-16 00:27] frankus commented on #287
We've just released the changes as version 5.3.0.

If adding the `use_frameworks!` directive to your podfile is not something you're comfortable with, there are instructions [here](https://learn.apptentive.com/knowledge-base/cocoapods-guide/) to add a post-install hook and a preprocessor macro that should fix the include issues.

If you can use  `use_frameworks!` then it should be smooth sailing w

[2020-09-16 00:41] braker1nine commented on #287
Bummer. That's probably not a change we want to make just to support a single package. I'd definitely say I'd recommend y'all figure out how to get the library building without requiring it to be a framework. But admittedly I don't have a full grasp of the challenges there. And I know we're all on a tight timeline with iOS 14 😅

For the long term we may either build more manually or maybe use a gi

[2020-09-16 15:25] frankus commented on #287
@braker1nine we've updated the way headers are managed, so you should be able to include it as you have been all along. The only change you might notice is that the `Apptentive.h` header is no longer copied, so you'll have to include the two headers that live under that umbrella header manually (`ApptentiveMain.h` and `ApptentiveStyleSheet.h`).

[2020-09-16 15:31] braker1nine commented on #287
@frankus I saw that this morning and already have a branch in our codebase building off that branch! 👍 thanks we really appreciate the quick turnaround!

[2021-02-12 10:15] vrutings commented on #233
Assets are now supported :) Any chance this can go ahead now.

[2021-02-15 20:30] CaseyApptentive commented on #233
Hi @vrutings . Stay tuned! We're keeping this in mind on our roadmap and will keep you in the loop.

[2021-03-19 14:35] mattozer commented on #233
Hi @CaseyApptentive. Looking forward to the SPM support as Apptentive is one of the few libraries that are blocking my team to remove Cocoapods. Thank you.

[2021-05-11 23:26] frankus commented on #286
The unused IDFA collection code has been removed in the new 5.3.2 release.

[2021-05-11 23:26] #286 closed

[2021-07-23 21:09] axello opened #295 "Crash when receiving update in a SwiftUI app"
We are --trying to-- implement Apptentive in a swift + SwiftUI based app. As a host viewcontroller for Apptentive we are using a UITabBarController. The app can succesfully send engage(event:) messages, but when a notification from apptentive arrives the app crashes in @main.

Is there a recommended way to use apptentive-ios with SwiftUI based applications?

Apptentive 5.3.3

[2021-07-23 21:34] CaseyApptentive commented on #295
Hi @axello. Sorry that you're seeing issues. I'll look into this with my team and get back to you as soon as possible.

[2021-07-27 23:03] CaseyApptentive commented on #295
Circling back @axello. Thanks again for the report. This is not a known issue and we'll need a bit more information to understand what's going on.

Could you send verbose logs from app launch until the crash?

Also, if you could share the name of the app you're working on, we could take a look at our backend to know more. If you'd rather, you can send that to me at support@apptentive.com and I'll

[2021-08-03 11:49] axello commented on #295
Hi, I'm on holidays. I've asked a colleague of mine to pick this up.

[2021-08-03 18:01] CaseyApptentive commented on #295
Thanks! Let us know if there's any way we can help get logs. If it's easier and we can repro the issue, you could also send us a dev build.

Whatever is easiest.

[2021-08-05 16:39] CaseyApptentive commented on #295
Hi there. We'll still need more information, but I was able to get a sanity check from our iOS team.

Unfortunately, we don’t yet support SwiftUI with our SDKs. But we would love to know more about exactly what you're looking for so we can share it with our Product team.  What type of notification are you looking to use? For example, push notification, NSNotificationCenter notification, or somethi

[2021-08-08 11:41] axello commented on #295
We tested with our latest build and now it works without problems. Don't know what the reason was for the crashes, but you can close this ticket. Thanks.

[2021-08-08 11:41] #295 closed

[2021-08-08 11:41] axello commented on #295
We tested with our latest build and now it works without problems. Don't know what the reason was for the crashes, but you can close this ticket. Thanks.

[2021-08-10 08:26] TianleZhang commented on #295
Sry, we notice the issue only happened on real device but not on simulator
And when I dump the device log, I see this error

[2021-10-08 20:02] vivekbhupatiraju commented on #233
No problem @scier, we appreciate the patience as we worked to support this :)

[2022-04-08 07:30] b3think3r opened #299 "Crashed: com.apptentive.backend"
Exception Type:  EXC_BAD_ACCESS (SIGSEGV)
Exception Subtype: KERN_INVALID_ADDRESS at 0x8000000000000010 -> 0x0000000000000010 (possible pointer authentication failure)
Exception Codes: 0x0000000000000001, 0x8000000000000010
VM Region Info: 0x10 is not in any region.  Bytes before following region: 4342792176
      REGION TYPE                 START - END      [ VSIZE] PRT/MAX SHRMOD  REGION DETAIL

[2022-04-08 16:05] frankus commented on #299
This looks like an issue that has been reported in our new SDK, https://github.com/apptentive/apptentive-kit-ios/issues/7.

We have a fix available on a branch (https://github.com/apptentive/apptentive-kit-ios/tree/concurrency-fix) that you're welcome to try and we'll release a fixed version in the next few days.

[2022-05-29 03:33] rich-shimano-sap opened #300 "Swift compiler error when building Mac Catalyst app with Apptentive Swift package"
Adding the Apptentive framework via Swift Package Manager to our iOS/Mac Catalyst app causes the following compiler error when building the Mac Catalyst app (the iOS app builds fine) with Xcode 13.2.1+:

...SourcePackages/checkouts/apptentive-kit-ios/Sources/ApptentiveKit/Model/Environment.swift:160:35: error: cannot find type 'CTTelephonyNetworkInfo' in scope

<img width="794" alt="Screen Shot 20

[2022-05-31 23:48] CaseyApptentive commented on #300
Hi @rich-shimano-sap, happy to help. Which version of the SDK are you using?

We've recently released a new version of our SDK with some big improvements, including support for Swift Package Manager: [6.0.2](https://github.com/apptentive/apptentive-kit-ios/releases/tag/v6.0.2)

Would you be open to using that version if you aren't already?

[2022-06-01 04:59] rich-shimano-sap commented on #300
Sorry I forgot to mention it--we are using 6.0.2 and experiencing the Mac Catalyst build error with that Swift package.

[2022-06-01 19:29] CaseyApptentive commented on #300
Thanks, @rich-shimano-sap. We'll look into this asap and get back to you.

Is this holding up a release?

[2022-06-02 21:23] rich-shimano-sap commented on #300
It is not holding up a release exactly--we would just prefer to use the latest SDK via Swift Package Manager, if possible. Thanks for your help!

[2022-06-02 21:29] CaseyApptentive commented on #300
Thanks for the details! I'll be in touch as soon as I know more from my team.

[2022-06-08 00:06] CaseyApptentive commented on #300
Hi @rich-shimano-sap. My team has made a branch that is available for testing here:
[apptentive-kit-ios: catalyst](https://github.com/apptentive/apptentive-kit-ios/tree/catalyst)

Can you give it a try and let me know the results?

[2022-06-08 05:15] rich-shimano-sap commented on #300
That fix appears to work--both our iOS and Mac Catalyst app appear to build and archive successfully!

[2022-06-08 06:19] jaishankar opened #301 "AssertionFailures in SDK 6.0.x"
Team - With the SDK 6.0.x, we notice that Apptentive SDK uses assertion failure through out in many places,

- when the registration key is not of valid format,
- when there is a registration failure
- when there is a new credential being used without deleting the app

This breaks our app as we are providing an option in debug mode to switch between environments and on switching we will register w

[2022-06-08 15:17] jaishankar commented on #301
I realised I had posted in 5.x repo - so added few more details and posted in 6.0.x repo here - https://github.com/apptentive/apptentive-kit-ios/issues/18

[2022-06-08 18:49] CaseyApptentive commented on #301
Thanks, @jaishankar. I'll close this thread in favor of the other one, [https://github.com/apptentive/apptentive-kit-ios/issues/18](https://github.com/apptentive/apptentive-kit-ios/issues/18)

[2022-06-08 18:49] #301 closed, assigned to nobody

[2022-06-22 17:27] CaseyApptentive commented on #300
Thanks for confirming. This was also released in [6.0.3](https://github.com/apptentive/apptentive-kit-ios/releases/tag/v6.0.3). Let us know if you need anything else.

[2022-06-22 17:27] #300 closed, assigned to nobody

[2022-09-22 10:42] NishanthMurugan opened #302 "CRASH: Conversation.swift line 916 Conversation.merge(with:)"
App is crashing in production. Please find the crash log below and help to resolve it.

0  libswiftCore.dylib             0x3820c _assertionFailure(_:_:file:line:flags:) + 312
1  libswiftCore.dylib             0x38510 _isFastAssertConfiguration() + 102
2  ApptentiveKit                  0x5c6c0 Conversation.merge(with:) + 916 (Conversation.swift:916)
3  ApptentiveKit                  0x461bc Backen

[2022-09-22 10:49] NishanthMurugan commented on #302
Tracking this issue as part of new sdk https://github.com/apptentive/apptentive-kit-ios/issues/24

[2022-09-22 10:49] #302 closed, assigned to nobody

[2022-11-15 20:37] #228 closed

[2022-11-15 20:38] #245 closed

[2022-11-15 20:38] #252 closed

[2022-11-15 20:39] #253 closed

[2022-11-15 20:39] #256 closed

[2022-11-15 20:39] #262 closed

[2022-11-15 20:39] #273 closed

[2022-11-15 20:40] #277 closed

[2022-11-15 20:41] #285 closed

[2022-11-15 20:41] #287 closed

[2022-11-15 20:42] CaseyApptentive commented on #299
@b3think3r closing out some old issues. Let us know if you're still having any issues, always happy to help.

[2022-11-15 20:42] #299 closed, assigned to nobody